<table width=100%>
  <tr>
    <td>
      <h5>Scaning Upload Esign Document</h5>
    </td>
    <td width=5></td>
    <td align=right>
      <span>
        <button mat-raised-button color="accent" class="text-upper" (click)='submitDoc()'>Submit</button>
      </span>
      <span>
        <button mat-raised-button color="accent" class="text-upper" (click)='discardandclose()'>Cancel</button>
      </span>
    </td>
  </tr>
  <tr>
    <td width=490pt>
      <iframe width="480pt" height="600pt" [src]="pdfSrc | safe">
      </iframe>
    </td>
    <td width=5></td>
    <td valign=top>
      <span>
        <strong>
          <font color='green'>Document</font>
        </strong>
        <br/>
        <font color='#336699'>{{scandoc.fileName}}</font>
        <br/>
        <strong>
          <font color='green'>Total Pages:</font>
        </strong>
        <br/>
        <strong>
          <font color='#336699'>{{scandoc.pageCount}}</font>
        </strong>
        <br/>
      </span>
      <hr/>
      <strong>
        <h6>Classified Forms:</h6>
      </strong>
      <ul class="pdfdoc">
        <li *ngFor='let fpage  of scandoc.pages'>
          <span class="badge">*</span>Page
          <font color=green>>{{fpage.seqNo}}</font>
          --
          <font color=green>>{{fpage.formCode}}</font>
          <span>
            <mat-icon class='docicon' (click)='deletePage(fpage)'>delete</mat-icon>
          </span>
        </li>
      </ul>
      <hr>
      <strong>
        <h6>Additional Forms:</h6>
      </strong>
      <mat-form-field class='inputfield'>
        <input matInput placeholder='Page Number' [(ngModel)]="newPageN">
      </mat-form-field>
      <mat-form-field class="casefield">
        <input type="text" placeholder="Assign Form Code" matInput [matAutocomplete]="formauto" [formControl]="fcctrl" [(ngModel)]="selectedForm">
        <mat-autocomplete #formauto="matAutocomplete">
          <mat-option *ngFor="let fc of formlist" [value]="fc">
            {{fc}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br/>
      <span>
        <font color=red>{{errormsg}}</font>
      </span>
      <br/>
      <span>
        <button mat-raised-button color="accent" class="text-upper" (click)='addPage()'>Add New Form</button>
      </span>
      <br/>
      <br/>
      <span>
          <div class="informationTable">
              <mat-icon class='remindericon' mdbRippleRadius>thumb_up_alt</mat-icon>
              If there are missing signature forms on the classified form list, please verify: <br/>
              1. Your selected <u>case Category</u> and <u>sub Category</u> <br/>
              2. File uploaded as eSign document  <br/>  
          </div>
      </span>      
    </td>
  </tr>
</table>