.inputfield {
    width:100%;
    font-size: 16px;
    text-align: left;
}

.sigformlyr {
    // border: 1px solid #DDDDDD;
    position: relative;
    margin-left: 10%;
    margin-top: 10%;
 }

 .tpSignatureTag {
    float: left;
    position: absolute;
    z-index: 1000;
    background-color: #03a9f4;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    border:1pt double black
 }

 .spSignatureTag {
    float: left;
    position: absolute;
    z-index: 1000;
    background-color: #03a9f4;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    border:1pt double black
 }

 .tpDateTag {
    float: left;
    position: absolute;
    z-index: 1000;
    background-color: #03a9f4;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    border:1pt double black
 }
 .spDateTag {
    float: left;
    position: absolute;
    z-index: 1000;
    background-color: #03a9f4;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    border:1pt double black
 }
 .titleTag {
    float: left;
    position: absolute;
    z-index: 1000;
    background-color: #03a9f4;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    border:pt double black
 }