<div class='sigformlyr'>
  <mat-spinner *ngIf='!isImageDataUrlFetched' diameter='20'></mat-spinner>
  <span *ngIf='!isImageDataUrlFetched'>Processing...</span>
  <img *ngIf="isImageDataUrlFetched" [src]="sanitize(formImageBlobUrl)" />
  <div class='tpSignatureTag' ngDraggable (started)="onPriSigStart($event)" (stopped)="onPriSigStop($event)" (movingOffset)="onPriSigMoving($event)"
    [preventDefaultEvent]="true" (endOffset)="onPriSigMoveEnd($event)" *ngIf="showbox && isPriSignatureTagExists" [style.bottom.px]="tpSignaturePosY"
    [style.left.px]="tpSignaturePosX" [style.width.px]="tpSignatureWidth" [style.height.px]="tpSignatureHeight">{{priSigFieldName}}</div>

  <div class='spSignatureTag' ngDraggable (started)="onSecSigStart($event)" (stopped)="onSecSigStop($event)"
    (movingOffset)="onSecSigMoving($event)" [preventDefaultEvent]="true" (endOffset)="onSecSigMoveEnd($event)" *ngIf="showbox && isSecSignatureTagExists"
    [style.bottom.px]="spSignaturePosY" [style.left.px]="spSignaturePosX" [style.width.px]="spSignatureWidth" [style.height.px]="spSignatureHeight">{{secSigFieldName}}</div>

  <div class='tpDateTag' ngDraggable (started)="onDate1Start($event)" (stopped)="onDate1Stop($event)"
    (movingOffset)="onDate1Moving($event)" [preventDefaultEvent]="true" (endOffset)="onDate1MoveEnd($event)" *ngIf="showbox && isPriDateTagExists"
    [style.bottom.px]="tpDatePosY" [style.left.px]="tpDatePosX" [style.width.px]="tpDateWidth" [style.height.px]="tpDateHeight">Date1</div>

  <div class='spDateTag' ngDraggable (started)="onDate2Start($event)" (stopped)="onDate2Stop($event)"
    (movingOffset)="onDate2Moving($event)" [preventDefaultEvent]="true" (endOffset)="onDate2MoveEnd($event)" *ngIf="showbox && isSecDateTagExists"
    [style.bottom.px]="spDatePosY" [style.left.px]="spDatePosX" [style.width.px]="spDateWidth" [style.height.px]="spDateHeight">Date2</div>

  <div class='titleTag' ngDraggable (started)="onTitleStart($event)" (stopped)="onTitleStop($event)"
    (movingOffset)="onTitleMoving($event)" [preventDefaultEvent]="true" (endOffset)="onTitleMoveEnd($event)" *ngIf="showbox && isTitleTagExists"
    [style.bottom.px]="titlePosY" [style.left.px]="titlePosX" [style.width.px]="titleWidth" [style.height.px]="titleHeight">Title</div>
</div>
<div>
  <table width=100%>
    <tr>
      <td width=24% align=center>
        <span>
          <button *ngIf="isImageDataUrlFetched" mat-raised-button color="accent" class="text-upper" (click)='enableEdit()'>Edit Box</button>
        </span>
      </td>
      <td width=24% align=center>
        <span *ngIf='!showspinner'>
          <button *ngIf="isImageDataUrlFetched" mat-raised-button color="accent" class="text-upper" (click)='saveEdit()'>Save</button>
        </span>
        <mat-spinner *ngIf='showspinner' diameter='20'></mat-spinner>
        <span *ngIf='showspinner'>Processing...</span>
      </td>
      <td width=24% align=center>
        <span>
          <button *ngIf="isImageDataUrlFetched" mat-raised-button color="accent" class="text-upper" (click)='closeme()'>Cancel</button>
        </span>
      </td>
      <td width=28%></td>
    </tr>
  </table>
</div>