<div class="container">
        <table width=98%>
                <tr>
                        <td width=70%>
                                <h6>Build Cover Letter</h6>
                        </td>
                        <td>

                                <span *ngIf='!showspinner'>
                                        <button mat-raised-button color="accent" class="text-upper" [disabled]='cover.viewControl.edit' (click)='buildCoverLetter()'>Submit</button>
                                </span>
                                <mat-spinner *ngIf='showspinner' diameter='30'></mat-spinner>
                                <span *ngIf='showspinner'>Processing...</span>
                        </td>
                        <td>&nbsp;&nbsp;</td>
                        <td>
                                <span>
                                        <button mat-raised-button color="accent" class="text-upper" (click)='closeme()'>Cancel</button>
                                </span>
                        </td>
                </tr>
        </table>
        <hr>
        <app-coverletter></app-coverletter>
</div>