.textareafd{
    width:96%
}

#summaryTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  #summaryTable td, #summaryTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #summaryTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #summaryTable tr:hover {background-color: #ddd;}