<div>
    <table>
        <tr><td>Select  Columns:</td></tr>
        <tr><td>
            <hr>
            <mat-checkbox *ngFor="let col of cols" layout='row' [checked]="col.checked"
            (change)='selCol($event,col)'>
            {{col.headerName}}
            </mat-checkbox>
        </td></tr>
        <tr><td align=center>
            <span>
                <button mat-raised-button small color="accent" class="text-upper" (click)="closeme()">Close</button>  
            </span>
        </td></tr>
    </table>
</div>
