<div class="container">
  <table width=100%>
    <tr>
      <h6>Identity Answer Setup for Organization Clients</h6>
    </tr>
    <tr>
      <ag-grid-angular #agGridClientAnswer style="width: 100%; height: 500px; font-size:10pt" 
        class="ag-theme-balham" 
        id="agGridClientAnswerId"
        [rowData]="clientAnswergridData"
        [enableSorting]="true" [statusBar]="statusBar" [enableFilter]="true" [columnDefs]="gridColumnDefs" [enableColResize]="true"
        [frameworkComponents]="frameworkComponents" [context]="context" [pagination]="true" [paginationPageSize]="50" 
        [domLayout]="autoHeight"
        (gridReady) ="onGridReady($event)"
        [rowSelection]="rowSelection"
        [groupSelectsChildren]="true"
        [autoGroupColumnDef]="autoGroupColumnDef"
        [defaultColDef]="defaultColDef">
      </ag-grid-angular>     
    </tr>    
    <br>
    <tr>
      <span>
        <button mat-raised-button color="accent" class="text-upper" (click)='saveClientAnswerData()'>Save</button>
        <button mat-raised-button color="accent" class="text-upper" (click)='closeme()'>Cancel</button>
      </span>
    </tr>
  </table>
</div>