<span>
  <label class="heading-label">{{ title }}</label>
  <button mat-icon-button color="warn" style="margin-left:90%" (click)="cancelActivatePopup()">
    <mat-icon style="font-size: 40px;">clear</mat-icon>
  </button>
</span>
<div>
    <mat-spinner *ngIf='!isFormsLoaded' diameter='40'></mat-spinner>
    <span *ngIf='!isFormsLoaded'>Processing...</span> 
</div>

<div fxLayout="column" *ngIf="isFormsLoaded">
  <div class="invgridColumn">
    <mat-form-field class="appfield" appearance="outline">
      <mat-label>Organization Name</mat-label>
      <input matInput [(ngModel)]="orgUnitName" readonly>
    </mat-form-field>
  </div>
</div>


<mat-table class="invgridColumn" *ngIf="isFormsLoaded" [dataSource]="newInfoTrackForms">

  <ng-container matColumnDef="select" sticky>
    <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"> Select </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-checkbox [(checked)]="element.isOrgActiveForm" (change)="selectForm($event,element)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="formName">
    <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"> Form </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.formName}}
     &nbsp;
     <a mat-button color="primary" 
     href="https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-symptom-screening-businesses.pdf" 
     target="_blank"><mat-icon [matTooltip]="element.description" 
     matTooltipClass="help-tooltip">help</mat-icon><u>(Source)</u></a>
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="viewForm">
    <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"> View </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button matTooltip="View Form" (click)="viewForm(row.templateId)">
        <mat-icon>visibility</mat-icon>
      </button>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>


<div>
  <br/>
  <br/>
</div>

<div class="button-row" *ngIf="isFormsLoaded">
  <div fxLayout="row">
    <button mat-raised-button class="text-upper" (click)="cancelActivatePopup()">
      Cancel
    </button>
    &nbsp; &nbsp;

    <span *ngIf='!showEditFormsspinner'>
      <button *ngIf='operation =="editform"' mat-raised-button color="accent" class="text-upper" (click)="assignInfoTrackForm()">
        Update
        <mat-icon>loop</mat-icon>
      </button>
    </span>
    <mat-spinner *ngIf='showEditFormsspinner' diameter='40'></mat-spinner>
    <span *ngIf='showEditFormsspinner'>Processing...</span>

    &nbsp; &nbsp;

    <span *ngIf='!showAssignFormspinner'>
      <button *ngIf='operation !="editform"' mat-raised-button color="accent" class="text-upper" (click)="assignInfoTrackForm()">
        Activate
        <mat-icon>play_circle_outline</mat-icon>
      </button>
    </span>
    <mat-spinner *ngIf='showAssignFormspinner' diameter='40'></mat-spinner>
    <span *ngIf='showAssignFormspinner'>Processing...</span>
  </div>
</div>

<!-- <div fxLayout="column">
  <div class="invgridColumn">
    <form [formGroup]="assignmentForm">
      <mat-form-field class="appfield" appearance="outline">
        <mat-label>Organization Name</mat-label>
        <input required matInput [(ngModel)]="orgUnitName" formControlName="orgNameFormControl" readonly>
      </mat-form-field>
      <br/>
      <br/>
      <div fxLayout="row">
        <mat-form-field class="casefield" appearance="outline">
          <mat-chip-list #itformchips placeholder="Search info tracker forms">
            <mat-chip *ngFor="let sItForm of selectedInfoTrackForms" [selectable]="selectable" [removable]="removable" (removed)="removeInfoTrackForm(sItForm)">
              {{sItForm.formName}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input #focusField placeholder="Search info tracker forms" [matChipInputFor]="itformchips" matInput [matAutocomplete]="autoitform"
              formControlName="itFormControl" (focusout)="itFormfocusOut()" autofocus (keydown.Tab)="itFormOnKey($event)">
            <mat-autocomplete #autoitform="matAutocomplete">
              <mat-option *ngFor="let form of infoTrackForms" [value]="form.templateId" (onSelectionChange)="addInfoTrackForm($event)">
                {{ form.formName }}
              </mat-option>
            </mat-autocomplete>
          </mat-chip-list>
        </mat-form-field>
      </div>
      <br/>
      <div fxLayout="row" *ngIf="1 == 2">
        <mat-form-field class="casefield">
          <mat-chip-list #desiguserschips placeholder="Designated Users">
            <mat-chip *ngFor="let selUser of selDesigUsers" [selectable]="selectable" [removable]="removable" (removed)="removeDesigUser(selUser)">
              {{ selUser.empFirstName }} {{selUser.empLastName }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input #focusField placeholder="Designated Users" [matChipInputFor]="desiguserschips" matInput [matAutocomplete]="desiguser"
              formControlName="desigUserFormControl" (focusout)="desigUserfocusOut()" autofocus (keydown.Tab)="desigUserOnKey($event)">
            <mat-autocomplete #desiguser="matAutocomplete">
              <mat-option *ngFor="let user of desigUsers" [value]="user.employeeId" (onSelectionChange)="addDesigUser($event)">
                {{ user.empFirstName }} {{user.empLastName }}
              </mat-option>
            </mat-autocomplete>
          </mat-chip-list>
        </mat-form-field>
      </div>
    </form>
    <div>
      <br/>
      <br/>
    </div>
    <div class="button-row">
      <div fxLayout="row">
        <button mat-raised-button class="text-upper" (click)="cancelActivatePopup()">
          Cancel
        </button>
        &nbsp; &nbsp;

        <span *ngIf='!showEditFormsspinner'>
          <button *ngIf='operation =="editform"' [disabled]="assignmentForm.invalid" mat-raised-button color="accent" class="text-upper"
            (click)="assignInfoTrackForm()">
            Update
            <mat-icon>loop</mat-icon>
          </button>
        </span>
        <mat-spinner *ngIf='showEditFormsspinner' diameter='40'></mat-spinner>
        <span *ngIf='showEditFormsspinner'>Processing...</span>

        &nbsp; &nbsp;

        <span *ngIf='!showAssignFormspinner'>
          <button *ngIf='operation !="editform"' [disabled]="assignmentForm.invalid" mat-raised-button color="accent" class="text-upper"
            (click)="assignInfoTrackForm()">
            Activate
            <mat-icon>play_circle_outline</mat-icon>
          </button>
        </span>
        <mat-spinner *ngIf='showAssignFormspinner' diameter='40'></mat-spinner>
        <span *ngIf='showAssignFormspinner'>Processing...</span>
      </div>
    </div>

  </div>
</div> -->