  .emailsettingstable {
    padding-left:15px;
    padding-bottom: 15px;
    max-width: 600px;
    width: 100%;
    border: 2px solid #ddd;
  }

  .emailsettingsfield {
    padding-left:15px;
    width: 50%;
  }
  
  .emailsettingsfield > * {
    width: 100%;
  }
  