<div *ngIf="mycase" style="background:#eeeeff">
  <table width=95%>
  <tr>
    <td valign=top>  <font color="a0a0a0" size=-1>PaperSign Case #</font><br>
      <b>
        {{form.caseId}}
      </b>  </td>
      <td valign=top> 
        <font color="a0a0a0" size=-1>Doc</font><br>
            <b>{{form.docId}}</b>
      </td>
      <td valign=top> 
        <font color="a0a0a0" size=-1>Date</font><br>
            <b>{{form.createdDate}}</b>
      </td>
      <td valign=top><font color="a0a0a0" size=-1>Signer</font><br>
        <b>
          {{signer.receiverFirstName}} {{signer.receiverLastName}}
        </b> <br>
        </td>
          <td valign=top ><font color="a0a0a0" size=-1>Page Seq #</font><br>
            <span >
            <b>
              {{form.seqNo}}
            </b> <br>
            </span></td>
            <td>
              <button mat-icon-button color="primary" (click)="openPDF()">
                PDF
                <mat-icon>
                  visibility</mat-icon>
              </button>
            </td>
        <td>
          <button mat-icon-button color="primary" (click)="switchToGrid.emit({view:'grid'})">
            Back
            <mat-icon>
              reply</mat-icon>
          </button>
        </td>
  </tr>
  </table>
  <hr>
</div>
  
<div #pdfviewcontainer class='casedoc' style="word-break:break-word;white-space:normal !important;">
  <pdf-viewer [original-size]="true" [src]="pdfUrl" ></pdf-viewer>
</div>
 <div class='signcapcls' style="word-break:break-word;white-space:normal !important;">

 <table width=95%>
    <tr> 
    <td></td>
    <td colspan=3 align=center>
      <mat-form-field  tdFileDrop (fileDrop)="nonEsignfiles = $event" flex>
        <input matInput placeholder="UPLOAD SIGNED FORM" [value]="nonEsignfiles ? nonEsignfiles.name : ''" />
      </mat-form-field>
    </td>
    <td align=center>
      <td-file-input [(ngModel)]="nonEsignfiles" color="primary">
        <mat-icon>file_upload</mat-icon>
      </td-file-input>
    </td>
    <td align=center >
      <mat-spinner *ngIf='showSubmitSpinner' diameter='20'></mat-spinner>
          <span *ngIf='showSubmitSpinner'>Processing Final Signing...</span>
      <button mat-raised-button color="accent" [disabled]="!nonEsignfiles" *ngIf='!showSubmitSpinner'
      class="row text-upper" (click)="uploadNonEsignForm(form,signer,'nonesign',nonEsignfiles)">Submit</button>
    </td>
  </tr>
 </table>
 </div>
 