.casefield {
    padding-left:15px;
    width: 90%
  }
  
  .casefield > * {
    width: 90%
  }

  .trackertable {
    // margin-top: 20px;
    // margin-left:30px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left:10px;
     padding-right:10px;
     max-width: 1000px;
     width: 90%;
   }
  .trackertable2 {
   // margin-top: 20px;
   // margin-left:30px;
  //  padding-top: 10px;
  //  padding-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
    max-width: 1000px;
    width: 95%;
  border: 1px solid #ddd;
  } 
  .trackertable3 {
    // margin-top: 20px;
    // margin-left:30px;
    // padding-top: 10px;
    // padding-bottom: 10px;
     padding-left:10px;
     padding-right:10px;
     max-width: 1000px;
     width: 90%;
   }