<div class="container">
 <table width='95%'>
   <tr><td>Case #:</td><td><font color='#336699'>{{mycaseId}}</font></td></tr>
   <tr><td colspan=2>
      <u> Notes:</u>
      <ul>
          <li *ngFor ="let line of splitLines">
            {{line}}
          </li>
        </ul>
   </td></tr>
   <tr>
     <td colspan=2>
        <mat-form-field class="textareafd">
            <textarea matInput placeholder="Add a Note" [(ngModel)]="newnotes"></textarea>
          </mat-form-field>
     </td>
   </tr>
   <tr>
     <td></td>
     <td>
        <span>
            <button mat-raised-button color="accent" class="text-upper" (click)='saveNotes()'>Save Notes</button>
            <button mat-raised-button color="accent" class="text-upper" (click)="closeme()">Cancel</button>  
        </span>
     </td>
   </tr>
 </table>
 
</div>
