<span>
    <label class="heading-label">Admin Review Summary</label>
    <button mat-icon-button color="warn" style="margin-left:85%" (click)="closePopup()">
      <mat-icon style="font-size: 40px;">clear</mat-icon>
    </button>
  </span>
   
  <div fxLayout="column">
       <table id="summaryTable">
        <tr>
          <td width="25%">
            Review Tracker Id
          </td>
          <td>
            {{reviewTrackerId}}
          </td>
        </tr>
        <tr>
          <td width="25%">
            Doc Id
          </td>
          <td>
            {{docId}} &nbsp;&nbsp;
            <button mat-icon-button matTooltip="Preview" (click)="viewReviewedDocument()">
                <mat-icon>visibility</mat-icon>
              </button>
          </td>
        </tr>
        <tr>
          <td width="25%">
            Reviewed By
          </td>
          <td>
            {{reviewedBy}}
          </td>
        </tr>
        <tr>
          <td width="25%">
            Reviewed Date Time
          </td>
          <td>
            {{reviewedDateTime}}
          </td>
        </tr>
        <tr>
            <td width="25%">
              Status
            </td>
            <td>
              {{status}}
            </td>
          </tr>
          <tr>
            <td width="25%">
              Addendum Count
            </td>
            <td>
              {{addendumCount}}
            </td>
          </tr>
        
      </table>
  </div>
  
  <div>
    <br/>
  </div>
  <div class="button-row">
    <div fxLayout="row">
      <button color="accent" mat-raised-button class="text-upper" (click)="closePopup()">
        OK
      </button>
      &nbsp; &nbsp;
    </div>
  </div>