.inputfield {
    width:95%;
    font-size: 16px;
    text-align: left;
}

.casefield {
    padding-left:15px;
    width: 80%
  }
  
  .casefield > * {
    width: 80%
  }
  .container{
    width: 100%; 
  } 