<table *ngIf='isInfoTrackerDataFetched'>
  <tr>
    <th>
      <button mat-stroked-button (click)="navigateInfoTracker()">
        Back
        <mat-icon>
          reply</mat-icon>
      </button> &nbsp;&nbsp;
      <label class="heading-label">Report Summary: {{formName}}</label>
    </th>
  </tr>
</table>

<div>
  <mat-spinner *ngIf='!isInfoTrackerDataFetched' diameter='40'></mat-spinner>
  <span *ngIf='!isInfoTrackerDataFetched'>Processing...</span>
</div>

<div fxLayout="row">
  <table id="headerTable" *ngIf='isInfoTrackerDataFetched'>
    <tr>
      <td width=50%>
        <form [formGroup]="userViewReportForm">
          <mat-form-field appearance="outline">
            <mat-label>Start date</mat-label>
            <input matInput [matDatepicker]="startDate" date="true" formControlName="startDateFormControl">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="outline">
            <mat-label>End date</mat-label>
            <input matInput [matDatepicker]="endDate" date="true" formControlName="endDateFormControl">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
          &nbsp;
          <span *ngIf='!showRefreshSpinner'>
            <button [disabled]="userViewReportForm.invalid" mat-raised-button color="accent" class="text-upper" (click)="loadInfoTrackUserReport()">
              Refresh
              <mat-icon>refresh</mat-icon>
            </button>
          </span>
          <mat-spinner *ngIf='showRefreshSpinner' diameter='40'></mat-spinner>
        </form>
      </td>
      <td align=right>
        <mat-icon class='docicon' mdbRippleRadius matTooltip="Config Columns" (click)='openColumnConfig(infoTrackerGridApi)'>list_alt</mat-icon>
        <mat-icon class='docicon' mdbRippleRadius (click)="resizeAll()" matTooltip="Expand All">swap_horiz</mat-icon>
        <mat-icon class='docicon' mdbRippleRadius (click)="fitsizeAll()" matTooltip="Refit">tune</mat-icon>
        <mat-form-field appearance="outline">
          <mat-label>Download as</mat-label>
          <mat-select [(value)]="downloadAs" (selectionChange)="onDownloadAsSelection()">
            <mat-option value="CSV">
              EXCEL/CSV
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button matTooltip="Download" (click)="downloadReport()">
          <mat-icon style="font-size: 40px;">get_app</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</div>
<div style="margin-left: 1px;margin-right: 1px">
  <ag-grid-angular #agGridInfoTracker style="width: 100%;  font-size:11pt; " class="ag-theme-balham" [rowData]="infoTrackerGridData"
    [enableSorting]="true" [statusBar]="statusBar" [enableFilter]="true" [columnDefs]="gridColumnDefs" [enableColResize]="true"
    [frameworkComponents]="frameworkComponents" [context]="context" [pagination]="true" [paginationPageSize]="25" (gridReady)="onGridReady($event)"
    [rowHeight]="45" [autoGroupColumnDef]="autoGroupColumnDef" (firstDataRendered)="onFirstDataRendered($event)" [defaultColDef]="defaultColDef"
    [domLayout]="domLayout"></ag-grid-angular>
</div>