.casefield {
  width: 60%
}

.casefield > * {
  width: 60%
}

.appfield2 {
  width: 50%
}

.appfield2 > * {
  width: 50%
}
.appfield {
  width: 30%
}

.appfield > * {
  width: 30%
}
.trackertable {
  // margin-top: 20px;
  // margin-left:30px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left:10px;
   padding-right:10px;
   max-width: 1000px;
   width: 90%;
 }
.trackertable2 {
 // margin-top: 20px;
 // margin-left:30px;
//  padding-top: 10px;
//  padding-bottom: 10px;
  padding-left:10px;
  padding-right:10px;
  max-width: 1000px;
  width: 95%;
border: 1px solid #ddd;
} 
.trackertable3 {
  // margin-top: 20px;
  // margin-left:30px;
  // padding-top: 10px;
  // padding-bottom: 10px;
   padding-left:10px;
   padding-right:10px;
   max-width: 1000px;
   width: 90%;
 }
 
.loading-screen-wrapper {
z-index: 100000;
position: absolute;
background-color: rgba(255, 255, 255, 0.6);
width: 100%;
height: 100%;
display: block;
}

.heading-label {
color: #03a9f4;
margin-bottom: 1rem;
margin-top: 1rem;
font-size: 25px;
line-height: 48px;
}

.trackertable4 {
margin-top: 20px;
padding-bottom: 15px;
padding-right:15px;
max-width: 1200px;
width: 100%;
}

.ag-theme-balham .sick-days-warning {
background-color: sandybrown !important;
}
.ag-theme-balham .sick-days-breach {
background-color: lightcoral !important;
}

.docicon{
margin-right:25px; /* optional */
direction: ltr;
}
.docicon:hover {
background-color: #ccccff;
}

#headerTable {
border-collapse: collapse;
width: 100%;
}

#headerTable td, #headerTable th {
padding: 8px;
}
