<table *ngIf="isImageDataUrlFetched" width=90%>
  <tr>
    <td>
      <button mat-raised-button color="accent" matTooltip="Go to EZSign documents view" (click)="goToEZSignDocumentsView()">
        <mat-icon>home</mat-icon>&nbsp;EZSIGN DOCUMENTS
      </button>
    </td>
    <td>
        <button [disabled]='status !="Uploaded" && isImageDataUrlFetched' mat-raised-button color="accent" matTooltip="Send Invite"
        (click)="previewAndSendInvite()">
        <mat-icon>event_note</mat-icon>&nbsp;SEND REQUEST TO SIGN
      </button>
    </td>
    <td>
      <label class="heading-label">Document Title:</label>
      <label class="heading-label2">{{ (title.length>40)? (title|slice:0:36) +"..." : title}}</label>
    </td>
    <td>
      <label class="heading-label">Status:</label>
      <label class="heading-label2"> {{status}}</label>
    </td>
    <td>
      <label class="heading-label">Tracking Id:</label>
      <label class="heading-label2"> {{ezSignTrackingId}}</label>
    </td>
  </tr>
</table>

<div class='row'>

  <div>
    <hr>
  </div>
  <div class="leftpane" *ngIf="isImageDataUrlFetched">
    <div>
      <button [disabled]='status !="Uploaded"' mat-raised-button color="accent" matTooltip="Add Signer and Field" (click)="addField()">
        <mat-icon>person</mat-icon>&nbsp;ADD SIGNER & FIELD
      </button>
      &nbsp;&nbsp;
      <!-- <button [disabled]='status !="Uploaded"' mat-raised-button color="accent" matTooltip="Add Guest Signer and Field" (click)="addGuestField()">
        <mat-icon>border_inner</mat-icon>&nbsp;ADD GUEST
      </button>
      &nbsp;&nbsp; -->
      <!-- <button [disabled]='status !="Uploaded"' mat-raised-button color="accent" matTooltip="Send Invite" (click)="previewAndSendInvite()">
        <mat-icon>event_note</mat-icon>&nbsp;SEND REQUEST TO SIGN
      </button> -->
    </div>
    <br>
    <div style="word-break: break-all;overflow-wrap: break-word; white-space: normal;">
      <mat-icon>pan_tool</mat-icon>
      Click the field label to drop it into the top left corner of the
      <br/> document, then drag it to the desired location in your document
    </div>
    <br>
    <mat-toolbar color="primary" style="height: 30px;">
      SELECT LABELS AND DRAG
      <span class="fill-remaining"></span>
    </mat-toolbar>

    <mat-table #table matSort [dataSource]="ezSignSignerFieldTypes" class="mat-elevation-z8">

      <!-- <mat-header-row *matHeaderRowDef="displayedColumns">
      </mat-header-row> -->
      <mat-row *matRowDef="let row; columns: displayedColumns; matRipple">
      </mat-row>

      <ng-container matColumnDef="type">
        <mat-cell *matCellDef="let row">
          <mat-icon *ngIf="row.fieldName == 'signature' || row.fieldName == 'Signature' " [matTooltip]="Signature">create</mat-icon>
          <mat-icon *ngIf="row.fieldName == 'date' || row.fieldName == 'Date'" [matTooltip]="Date">today</mat-icon>
          <mat-icon *ngIf="row.fieldName == 'initial' || row.fieldName == 'Initial'" [matTooltip]="Initial">person_pin</mat-icon>
          <mat-icon *ngIf="row.fieldName == 'text' || row.fieldName == 'Text'" [matTooltip]="Text">text_format</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="receiverName">
        <!-- <mat-header-cell *matHeaderCellDef class="mat-header-class">Label</mat-header-cell> -->
        <mat-cell *matCellDef="let row">
          <button [disabled]='status !="Uploaded"' class="shape" [style.width.px]="160" [style.height.px]="38" matTooltip="Select signer field type"
            (click)="dropField(row)">
            {{ row.receiverFirstName }} {{ row.receiverLastName }}
            <br> {{ row.fieldTypeDesc }}
          </button>


          <!-- <div onclick="dropField(row)" [ngClass]="1 == 1 ? 'shape' : 'fieldTag'" 
          [style.width.px]="140" [style.height.px]="18">
            <table>
              <tr>
                <td>{{ row.receiverFirstName }} {{ row.receiverLastName }}</td>
              </tr>
              <tr>
                <td>{{ row.fieldTypeDesc }}</td>
              </tr>
            </table>
          </div> -->

        </mat-cell>
      </ng-container>


      <!-- <ng-container matColumnDef="selecticon">
        <mat-cell *matCellDef="let row">
          <button mat-icon-button [disabled]='status !="Uploaded"' matTooltip="Select signer field type" (click)="dropField(row)">
            <img src="/assets/imgs/ezsign_field_select.png" mat-card-avatar small />
          </button>
        </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="receiverEmailId">
        <!-- <mat-header-cell *matHeaderCellDef class="mat-header-class">Info</mat-header-cell> -->
        <mat-cell *matCellDef="let row">
          <mat-icon color="primary" [matTooltip]=" 'Name: ' + row.receiverFirstName + ' ' +  row.receiverLastName + '\n' + 'Email: ' + row.receiverEmailId"
            matTooltipClass="help-tooltip">message</mat-icon>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="delete">
        <!-- <mat-header-cell *matHeaderCellDef class="mat-header-class">Delete</mat-header-cell> -->
        <mat-cell *matCellDef="let row">
          <button color="accent" [disabled]='status !="Uploaded"' mat-icon-button matTooltip="Delete signer field type" (click)="open_confirmation_dialog_for_signer_fieldtype_deletion(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    </mat-table>

    <div>
      <br/>
    </div>

  </div>

  <div class="middlepane">
    <div style="display:flex; flex-direction: row; justify-content: left; align-items: left">
      <div *ngIf="pageCount > 1 && isImageDataUrlFetched">
        <mat-spinner *ngIf='isPreviousPageLoading' diameter='20'></mat-spinner>
        <span *ngIf='isPreviousPageLoading'>Processing...</span>
        <button *ngIf="pageSeqNo > 1 && !isPreviousPageLoading" mat-icon-button color="warn" (click)="showPreviousPage()">
          <mat-icon>chevron_left</mat-icon>
        </button>
        &nbsp;
        <label class="heading-label">Page {{pageSeqNo}} of {{pageCount}}</label>
        &nbsp;
        <mat-spinner *ngIf='isNextPageLoading' diameter='20'></mat-spinner>
        <span *ngIf='isNextPageLoading'>Processing...</span>
        <button *ngIf="pageSeqNo < pageCount && !isNextPageLoading" mat-icon-button color="warn" (click)="showNextPage()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>

    <div [ngClass]="{ 'top-b': !edge?.top, 'bottom-b': !edge?.bottom, 'left-b': !edge?.left, 'right-b': !edge?.right }" #myBounds>
      <mat-spinner *ngIf='!isImageDataUrlFetched' diameter='20'></mat-spinner>
      <span *ngIf='!isImageDataUrlFetched'>Processing...</span>

      <div style="position: relative;border: 1px solid lightgray;">
        <!--  <img *ngIf="isImageDataUrlFetched" [src]="sanitize(formImageBlobUrl)" width="800"/> -->
        <pdf-viewer [original-size]="true" [src]="pdfUrl" (page-rendered)="pageRendered($event)"></pdf-viewer>
        <div *ngIf="isFieldsReadyToShow">
          <div *ngFor="let fld of ezSignFields">
            <div [ngClass]="fld.isSelected ? 'selectedFieldTag' : 'fieldTag'" ng-drag="false" ngDraggable (edge)="checkEdge($event)"
              [bounds]="myBounds" [inBounds]="true" (started)="onFieldStart($event,fld.fieldSeqNo)" (stopped)="onFieldStop($event,fld.fieldSeqNo)"
              (movingOffset)="onFieldMoving($event,fld.fieldSeqNo)" (endOffset)="onFieldMoveEnd($event,fld.fieldSeqNo)" [preventDefaultEvent]="true"
              *ngIf="fld.showBox && fld.isTagExists" [style.bottom.px]="fld.adjust_posY" [style.left.px]="fld.adjust_posX"
              [style.width.px]="fld.width" [style.height.px]="fld.height">

              <!-- <label style="padding-bottom:5px">{{fld.receiverFirstName}} - {{fld.fieldType}}</label> -->
              <mat-icon *ngIf="fld.fieldType == 'signature' || fld.fieldType == 'Signature' " [matTooltip]="Signature">create</mat-icon>
              <mat-icon *ngIf="fld.fieldType == 'date' || fld.fieldType == 'Date'" [matTooltip]="Date">today</mat-icon>
              <mat-icon *ngIf="fld.fieldType == 'initial' || fld.fieldType == 'Initial'" [matTooltip]="Initial">person_pin</mat-icon>
              <mat-icon *ngIf="fld.fieldType == 'text'" [matTooltip]="Text">text_format</mat-icon>
              <!-- <img src="/assets/imgs/ezsign_signature.jpg" mat-card-avatar small> -->
              &nbsp;
              <label style="padding-bottom:5px">{{fld.receiverFirstName}}</label>
              &nbsp;
              <button [disabled]='status !="Uploaded"' mat-icon-button color="warn" (click)="open_confirmation_dialog_for_field_deletion(fld)">
                <mat-icon>clear</mat-icon>
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>