<table *ngIf="isImageDataUrlFetched" width=90%>
  <tr>
    <td>
      <button mat-raised-button color="accent" matTooltip="Go to EZSign documents view" (click)="goToEZSignDocumentsView()">
        <mat-icon>home</mat-icon>&nbsp;EZSIGN DOCUMENTS
      </button>
    </td>
    <td>
      <label class="heading-label">Document Title:</label>
      <label class="heading-label2">{{title}}</label>
    </td>
    <td>
      <label class="heading-label">Status:</label>
      <label class="heading-label2"> {{status}}</label>
    </td>
    <td>
      <label class="heading-label">Tracking Id:</label>
      <label class="heading-label2"> {{ezSignTrackingId}}</label>
    </td>
  </tr>
</table>

<div class='row'>

  <div>
    <hr>
  </div>

  <div class="leftpane" *ngIf="isImageDataUrlFetched">

    <mat-toolbar color="primary" style="height: 30px;">
      Add Signers and Fields
      <span class="fill-remaining"></span>
    </mat-toolbar>

    <mat-table #table matSort [dataSource]="ezSignFields" class="mat-elevation-z8">

      <mat-header-row *matHeaderRowDef="displayedColumns">
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; matRipple">
      </mat-row>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="mat-header-class">
          Select</mat-header-cell>
        <mat-cell *matCellDef="let row" >
          <mat-checkbox class="casefield" (change)='selectFieldRecord($event,row)' [checked]="row.isSelected"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fieldSeqNo">
        <mat-header-cell *matHeaderCellDef class="mat-header-class">
          #</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.fieldSeqNo }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="receiverName">
        <mat-header-cell *matHeaderCellDef class="mat-header-class">Name</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.receiverFirstName }} {{ row.receiverLastName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="receiverEmailId">
        <mat-header-cell *matHeaderCellDef class="mat-header-class">EmailID</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.receiverEmailId }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fieldType">
        <mat-header-cell *matHeaderCellDef class="mat-header-class">Field Type</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.fieldType }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fieldDescription">
        <mat-header-cell *matHeaderCellDef class="mat-header-class">Field Desc.</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.labelName }}
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef class="mat-header-class">Delete</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button color="accent" [disabled]='status !="Uploaded"' mat-menu-item (click)="open_confirmation_dialog_for_field_deletion(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

    </mat-table>

    <!-- <mat-table #table matSort [dataSource]="ezSignFields" class="mat-elevation-z8">

      <mat-header-row *matHeaderRowDef="displayedColumns">   
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; matRipple">
      </mat-row>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef 
        class="mat-column-select">
          Select</mat-header-cell>
        <mat-cell *matCellDef="let row" 
        class="mat-column-select">
          <mat-checkbox class="casefield" (change)='selectFieldRecord($event,row)' 
          [checked]="row.isSelected"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fieldSeqNo">
        <mat-header-cell *matHeaderCellDef 
        style="display:flex;justify-content:left;white-space: normal;word-wrap: break-word;font-size: 14px;font-weight: bold;color:#999">
          #</mat-header-cell>
        <mat-cell *matCellDef="let row" 
        style="display:flex;justify-content:left;white-space: normal;word-wrap: break-word;">
          {{ row.fieldSeqNo }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="receiverName">
        <mat-header-cell *matHeaderCellDef 
        >Name</mat-header-cell>
        <mat-cell *matCellDef="let row" 
        >
          {{ row.receiverFirstName }} {{ row.receiverLastName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="receiverEmailId">
          <mat-header-cell *matHeaderCellDef 
          >EmailID</mat-header-cell>
          <mat-cell *matCellDef="let row" 
          >
            {{ row.receiverEmailId }}
          </mat-cell>
        </ng-container>

      <ng-container matColumnDef="fieldType">
        <mat-header-cell *matHeaderCellDef >Field Type</mat-header-cell>
        <mat-cell *matCellDef="let row" 
        >
          {{ row.fieldType }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fieldDescription">
        <mat-header-cell *matHeaderCellDef >Field Desc.</mat-header-cell>
        <mat-cell *matCellDef="let row" >
          {{ row.labelName }}
        </mat-cell>
      </ng-container>

      
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef >Delete</mat-header-cell>
        <mat-cell *matCellDef="let row" >
          <button color="accent" [disabled]='status !="Uploaded"' mat-menu-item (click)="open_confirmation_dialog_for_field_deletion(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    </mat-table> -->

    <div>
      <br/>
    </div>

    <div>
      <button [disabled]='status !="Uploaded"' mat-raised-button color="accent" matTooltip="Add Signer and Field" (click)="addField()">
        <mat-icon>person</mat-icon>&nbsp;ADD SIGNER
      </button>
      &nbsp;&nbsp;
      <!-- <button [disabled]='status !="Uploaded"' mat-raised-button color="accent" matTooltip="Add Guest Signer and Field" (click)="addGuestField()">
        <mat-icon>border_inner</mat-icon>&nbsp;ADD GUEST
      </button>
      &nbsp;&nbsp; -->
      <button [disabled]='status !="Uploaded"' mat-raised-button color="accent" matTooltip="Send Invite" (click)="previewAndSendInvite()">
        <mat-icon>event_note</mat-icon>&nbsp;SEND INVITE
      </button>
    </div>
  </div>

  <div class="middlepane">
    <div *ngIf="pageCount > 1 && isImageDataUrlFetched">
      <mat-spinner *ngIf='isPreviousPageLoading' diameter='20'></mat-spinner>
      <span *ngIf='isPreviousPageLoading'>Processing...</span>
      <button *ngIf="pageSeqNo > 1 && !isPreviousPageLoading" mat-icon-button color="warn" (click)="showPreviousPage()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      &nbsp;
      <label class="heading-label">Page {{pageSeqNo}} of {{pageCount}}</label>
      &nbsp;
      <mat-spinner *ngIf='isNextPageLoading' diameter='20'></mat-spinner>
      <span *ngIf='isNextPageLoading'>Processing...</span>
      <button *ngIf="pageSeqNo < pageCount && !isNextPageLoading" mat-icon-button color="warn" (click)="showNextPage()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

    <div [ngClass]="{ 'top-b': !edge?.top, 'bottom-b': !edge?.bottom, 'left-b': !edge?.left, 'right-b': !edge?.right }" #myBounds>
      <mat-spinner *ngIf='!isImageDataUrlFetched' diameter='20'></mat-spinner>
      <span *ngIf='!isImageDataUrlFetched'>Processing...</span>

      <div style="position: relative;border: 1px solid lightgray;">
        <img *ngIf="isImageDataUrlFetched" [src]="sanitize(formImageBlobUrl)" />
        <div *ngIf="isFieldsReadyToShow">
          <div *ngFor="let fld of ezSignFields">
            <div [ngClass]="fld.isSelected ? 'selectedFieldTag' : 'fieldTag'" ng-drag="false" ngDraggable (edge)="checkEdge($event)"
              [bounds]="myBounds" [inBounds]="true" (started)="onFieldStart($event,fld.fieldSeqNo)" (stopped)="onFieldStop($event,fld.fieldSeqNo)"
              (movingOffset)="onFieldMoving($event,fld.fieldSeqNo)" (endOffset)="onFieldMoveEnd($event,fld.fieldSeqNo)" [preventDefaultEvent]="true"
              *ngIf="fld.showBox && fld.isTagExists" [style.bottom.px]="fld.posY" [style.left.px]="fld.posX" [style.width.px]="fld.width"
              [style.height.px]="fld.height">
              <label style="padding-bottom:5px">{{fld.receiverFirstName}} - {{fld.fieldType}}</label>
              <!-- &nbsp;&nbsp; &nbsp;&nbsp;
            <button mat-icon-button color="warn" (click)="removeSignatureField(fld.fieldSeqNo)">
              <mat-icon>clear</mat-icon>
            </button> -->
            </div>
          </div>
        </div>

        <!--<div *ngFor="let sigField of signatureFields">
          <div class='signatureFieldTag' ngDraggable (edge)="checkEdge($event)" [bounds]="myBounds" [inBounds]="true" (started)="onSigStart($event,sigField.fieldSeqNo)"
            (stopped)="onSigStop($event,sigField.fieldSeqNo)" (movingOffset)="onSigMoving($event,sigField.fieldSeqNo)" (endOffset)="onSigMoveEnd($event,sigField.fieldSeqNo)"
            [preventDefaultEvent]="true" *ngIf="sigField.showSignaturebox && sigField.isSignatureTagExists" [style.bottom.px]="sigField.signaturePosY"
            [style.left.px]="sigField.signaturePosX" [style.width.px]="sigField.signatureWidth" [style.height.px]="sigField.signatureHeight">
            <label style="padding-bottom:5px">{{sigField.receiverName}}</label>
            &nbsp;&nbsp; &nbsp;&nbsp;
            <button mat-icon-button color="warn" (click)="removeSignatureField(sigField.fieldSeqNo)">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>

      <div *ngFor="let textField of textFields">
        <div class='textFieldTag' ngDraggable (edge)="checkEdge($event)" [bounds]="myBounds" [inBounds]="true" (started)="onTextStart($event, textField.fieldSeqNo)"
          (stopped)="onTextStop($event, textField.fieldSeqNo)" (movingOffset)="onTextMoving($event, textField.fieldSeqNo)"
          [preventDefaultEvent]="true" (endOffset)="onTextMoveEnd($event , textField.fieldSeqNo)" *ngIf="textField.showTextbox && textField.isTextTagExists"
          [style.bottom.px]="textField.textPosY" [style.left.px]="textField.textPosX" [style.width.px]="textField.textWidth"
          [style.height.px]="textField.textHeight">
          <label style="padding-bottom:5px">{{textField.receiverName}}</label>
          &nbsp;&nbsp;
          &nbsp;&nbsp;
          <button mat-icon-button color="warn" (click)="removeTextField(textField.fieldSeqNo)">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>

      <div *ngFor="let dateField of dateFields">
        <div class='dateFieldTag' ngDraggable (edge)="checkEdge($event)" [bounds]="myBounds" [inBounds]="true" (started)="onDateStart($event, dateField.fieldSeqNo)"
          (stopped)="onDateStop($event, dateField.fieldSeqNo)" (movingOffset)="onDateMoving($event, dateField.fieldSeqNo)"
          [preventDefaultEvent]="true" (endOffset)="onDateMoveEnd($event, dateField.fieldSeqNo)" *ngIf="dateField.showDatebox && dateField.isDateTagExists"
          [style.bottom.px]="dateField.datePosY" [style.left.px]="dateField.datePosX" [style.width.px]="dateField.dateWidth"
          [style.height.px]="dateField.dateHeight">
          <label style="padding-bottom:5px"> {{dateField.receiverName}}</label>
          &nbsp;&nbsp;
          &nbsp;&nbsp;
          <button mat-icon-button color="warn" (click)="removeDateField(dateField.fieldSeqNo)">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div> -->
      </div>
    </div>
  </div>

  <!-- <div class="rightpane" *ngIf="sigFieldSelected == 'signature'">
    <div class="rightpaneheader">SIGNATURE</div>
    <form [formGroup]="signatureFieldForm">
      <div fxLayout="column">
        <mat-form-field class="casefield">
          <mat-select #focusSignatureField placeholder="Signer" formControlName="signerControl" required>
            <mat-option *ngFor="let ezSigner of eZSigners" [value]="ezSigner.receiverId">
              Signer {{ezSigner.receiverSeqNo}} - {{ ezSigner.receiverFirstName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="casefield">
          <input matInput placeholder="Label Name" formControlName="signatureLabelControl" required>
        </mat-form-field>
      </div>
    </form>
    <br/>
    <span *ngIf='!showSigProcess1Spinner'>
      <button mat-raised-button color="accent" (click)="saveSignatureField()" type="submit" [disabled]="signatureFieldForm.invalid">
        SAVE
      </button>
    </span>
    <mat-spinner *ngIf='showSigProcess1Spinner' diameter='40'></mat-spinner>
    <span *ngIf='showSigProcess1Spinner'>Processing...</span>
    &nbsp;
    <span *ngIf='!showSigProcess2Spinner'>
      <button mat-raised-button color="warn" matTooltip="Delete signature field" (click)="deleteSignatureField()">
        DELETE
      </button>
    </span>
    <mat-spinner *ngIf='showSigProcess2Spinner' diameter='40'></mat-spinner>
    <span *ngIf='showSigProcess2Spinner'>Processing...</span>
  </div>
  <div class='rightpane' *ngIf="textFieldSelected == 'text'">
    <div class="rightpaneheader">TEXT</div>
    <form [formGroup]="textFieldForm">
      <div fxLayout="column">
        <mat-form-field class="casefield">
          <mat-select #focusTextField placeholder="Signer" formControlName="textControl" required>
            <mat-option *ngFor="let ezSigner of eZSigners" [value]="ezSigner.receiverId">
              Signer {{ezSigner.receiverSeqNo}} - {{ ezSigner.receiverFirstName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="casefield">
          <input matInput placeholder="Label Name" formControlName="textLabelControl" required>
        </mat-form-field>
      </div>
    </form>
    <br/>
    <span *ngIf='!showTextProcess1Spinner'>

      <button mat-raised-button color="accent" (click)="saveTextField()" type="submit" [disabled]="textFieldForm.invalid">
        SAVE
      </button>
    </span>
    <mat-spinner *ngIf='showTextProcess1Spinner' diameter='40'></mat-spinner>
    <span *ngIf='showTextProcess1Spinner'>Processing...</span>
    &nbsp;
    <span *ngIf='!showTextProcess2Spinner'>
      <button mat-raised-button color="warn" matTooltip="Delete text field" (click)="deleteTextField()">
        DELETE
      </button>
    </span>
    <mat-spinner *ngIf='showTextProcess2Spinner' diameter='40'></mat-spinner>
    <span *ngIf='showTextProcess2Spinner'>Processing...</span>
  </div>
  <div class='rightpane' *ngIf="dateFieldSelected == 'date'">
    <div class="rightpaneheader">DATE</div>
    <form [formGroup]="dateFieldForm">
      <div fxLayout="column">
        <mat-form-field class="casefield">
          <mat-select #focusTextField placeholder="Signer" formControlName="dateControl" required>
            <mat-option *ngFor="let ezSigner of eZSigners" [value]="ezSigner.receiverId">
              Signer {{ezSigner.receiverSeqNo}} - {{ ezSigner.receiverFirstName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="casefield">
          <input matInput placeholder="Label Name" formControlName="dateLabelControl" required>
        </mat-form-field>
      </div>
    </form>
    <br/>
    <span *ngIf='!showDateProcess1Spinner'>
      <button mat-raised-button color="accent" (click)="saveDateField()" type="submit" [disabled]="dateFieldForm.invalid">
        SAVE
      </button>
    </span>
    <mat-spinner *ngIf='showDateProcess1Spinner' diameter='40'></mat-spinner>
    <span *ngIf='showDateProcess1Spinner'>Processing...</span>
    &nbsp;
    <span *ngIf='!showDateProcess2Spinner'>
      <button mat-raised-button color="warn" matTooltip="Delete date field" (click)="deleteDateField()">
        DELETE
      </button>
    </span>
    <mat-spinner *ngIf='showDateProcess2Spinner' diameter='40'></mat-spinner>
    <span *ngIf='showDateProcess2Spinner'>Processing...</span>

  </div> -->

</div>