<div *ngIf="mycase" style="background:#eeeeff">
  <table width=95%>
  <tr>
    <td valign=top>  <font color="a0a0a0" size=-1>Case #</font><br>
      <b>
        {{form.caseId}}
      </b>  </td>
      <td valign=top> 
        <font color="a0a0a0" size=-1>Doc</font><br>
            <b>{{form.docId}}</b>
      </td>
      <td valign=top> 
        <font color="a0a0a0" size=-1>Date</font><br>
            <b>{{form.createdDate}}</b>
      </td>
      <td valign=top><font color="a0a0a0" size=-1>{{signer.type}}</font><br>
        <b>
          {{signer.receiverFirstName}} {{signer.receiverLastName}}
        </b> <br>
        </td>
          <td valign=top ><font color="a0a0a0" size=-1>Page Seq #</font><br>
            <span >
            <b>
              {{form.seqNo}}
            </b> <br>
            </span></td>
        <td>
          <button mat-icon-button color="primary" (click)="switchToGrid.emit({view:'grid'})">
            Back
            <mat-icon>
              reply</mat-icon>
          </button>
        </td>
  </tr>
  </table>
  <hr>
</div>

<div *ngIf="viewType=='signing'" #pdfviewcontainer class='casedoc' style="word-break:break-word;white-space:normal !important;">
  <div *ngFor="let fld of form.filterFields" style="position:absolute;z-index:90;background:#ccccff;border:1pt solid green"
   [style.bottom.px]="fld.adjustposY-1" [style.left.px]="fld.adjustPosX+1" >
   <table style="padding-top:2pt" [style.background-color]="fld.bgcolor">
     <tr>
       <td>  <img src="/assets/imgs/bookmark.png" width=24 > </td>
       <td>  <b>{{fld.fieldTypeName}} </b></td>
       <td width=5></td>
       <td> <mat-checkbox [checked]="fld.picked" [value]="fld.fieldSeqNo" (change)="pickField($event)"></mat-checkbox></td>
     </tr>
   </table>
  </div>
  <pdf-viewer [original-size]="true" [src]="pdfUrl" (page-rendered)="pageRendered($event)" ></pdf-viewer>
</div>
<div  *ngIf="viewType=='signing'" class='signcapcls' style="word-break:break-word;white-space:normal !important;">
  <form [formGroup]="signcapform">
  <table width=95%>
  <div *ngFor='let field of form.filterFields'>
    <tr  [style.background-color]="field.bgcolor">
  
        <td>
         <div *ngIf='field.fieldControlType=="SIGNATURE"'  >
           <font color="#33699">Please sign below as:  <br><b>{{signer.receiverFirstName}} {{signer.receiverLastName}}</b></font>
               <br>
             <div  style="border:1px solid">
            <signature-pad  [options]="signaturePadOptions"  id="{{field.eleId}}"></signature-pad>
           </div>
           <div align='end' style="margin-right:20pt">
             <button align="right" small mat-icon-button color="primary" (click)='clearSigCap(field)' >
               <mat-icon>refresh</mat-icon> clear
               </button>
           </div>
           </div>
           <mat-form-field *ngIf='field.fieldControlType=="DATE"'>
           <mat-label>{{field.labelName}}</mat-label>
             <input matInput [matDatepicker]="picker" formControlName="{{field.eleId}}">
             <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
           <mat-datepicker #picker></mat-datepicker>
           </mat-form-field>
   </td>
   <td valign=top>
     <br>
     <mat-checkbox [checked]="field.picked" [value]="field.fieldSeqNo" (change)="pickField($event)"></mat-checkbox>
   </td>
   </tr>
   </div>
   <tr>
   <td align=center>
       <span *ngIf='!showProcessSpinner'>
         <table>
           <tr>
             <td *ngIf='form.presignstatus'><button mat-raised-button color="accent"  (click)="viewPreSignPage()">Existing Signing</button></td>
             <td *ngIf='form.presignstatus'><button mat-raised-button color="accent"  (click)="SkipPage()">Next</button></td>
             <td *ngIf='form.presignstatus'> <button mat-raised-button color="accent"  (click)="submitSignCapData()">Update</button></td>
             <td *ngIf='!form.presignstatus'> <button mat-raised-button color="accent"  (click)="submitSignCapData()">Save</button></td>
           </tr>
         </table>
         
       
       </span>  
       <mat-spinner *ngIf='showProcessSpinner' diameter='30'></mat-spinner>
       <span *ngIf='showProcessSpinner'>Processing...</span>
       </td>
   </tr>
   </table>
 </form>
  </div>

  <div *ngIf="viewType=='finalview'" class='signcapcls' style="word-break:break-word;white-space:normal !important;">
    <font color=green>Please review and press the submit button to finish signing.</font>
    <table width=80%>
      <tr>
          <br/>
      </tr>
      <tr>
        <td>
          <span *ngIf='!showReviewSpinner'>
              <button mat-raised-button color="accent"  (click)="previewDoc()">Review</button>
            </span>
          <mat-spinner *ngIf='showReviewSpinner' diameter='40'></mat-spinner>
          <span *ngIf='showReviewSpinner'>Processing...</span>
       &nbsp;&nbsp;
          <span *ngIf='!showSubmitSpinner'>
              <button mat-raised-button color="accent"  (click)="finalize()">Submit</button>
            </span>
          <mat-spinner *ngIf='showSubmitSpinner' diameter='40'></mat-spinner>
          <span *ngIf='showSubmitSpinner'>Processing...</span>
        </td>
      </tr>
    </table>
 </div>