.signcapcls{
    padding-right: 4px;
    padding-left:4px;
    margin-top:2px;
    float: left;
    direction: ltr;
    width: 30%; 
    min-height:480pt;
   //border: 1px solid #ddd;
  }
  .casedoc{
    position: relative;
    padding-right: 4px;
    padding-left:4px;
    margin-top:2px;
    float: left;
    direction: ltr;
    width: 68%; 
    border:1px solid lightblue;
    word-wrap: break-word;
    overflow-y: scroll;
   //border: 1px solid #ddd;
  }