<div class="container">

  <table width=100%>
    <tr>
      <td colspan="3">
        <h6>Case Templates - Upload/select from database</h6>
      </td>
      <td>
          <button mat-raised-button color="accent" class="text-upper" (click)="neweSignCaseFromScratch()">New Tax case from scratch
          </button>
         &nbsp;
              <button mat-raised-button color="accent" class="text-upper" (click)='closeme()'>Cancel</button>
      </td>
    </tr>
    <br/>
    <tr>
      <td colspan="6">
        <ag-grid-angular #agGridCaseTemplates style="width: 100%; height: 500px; font-size:10pt" class="ag-theme-balham" id="agGridCaseTemplatesId"
          [rowData]="caseTemplatesgridData" [enableSorting]="true" [statusBar]="statusBar" [enableFilter]="true" [columnDefs]="gridColumnDefs"
          [enableColResize]="true" [frameworkComponents]="frameworkComponents" [context]="context" [pagination]="true" [paginationPageSize]="50"
          [domLayout]="autoHeight" (gridReady)="onGridReady($event)" [rowSelection]="rowSelection">
        </ag-grid-angular>
      </td>
    </tr>
    </table>
    <table>
    <tr>
      <td>
        <mat-form-field class="fileinputfiled" class="container" tdFileDrop (fileDrop)="casetemplatefiles = $event" flex>
          <input matInput placeholder="Case Templates Data" [value]="casetemplatefiles ? casetemplatefiles.name : ''" />
        </mat-form-field>
      </td>
      <td>
        <td-file-input [(ngModel)]="casetemplatefiles" color="primary">
          <mat-icon>file_upload</mat-icon>
        </td-file-input>
      </td>
      <td>
        <button mat-raised-button color="accent" [disabled]="!casetemplatefiles" class="text-upper" (click)="uploadCaseTemplates(casetemplatefiles)">Submit</button>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>