<table class="trackertable4">
  <tr align="left">
    <td colspan="12">
      <button mat-raised-button color="accent" matTooltip="Create new tax case" (click)="showCaseTemplatesPopup()">
        + NEW TAX CASE
      </button>
    </td>
  </tr>
</table>
<mat-tab-group style='padding-left:20pt;padding-top:10pt' (focusChange)="changeTab($event)" #myTabGroup [selectedIndex]="selectedIndex">
  <mat-tab label="My Worklist">
    <br>
    <table width=99%>
      <tr>
        <td align=right width='30'>
        </td>
        <td align=right>
          <mat-icon class='docicon' mdbRippleRadius matTooltip="Bulk Archive" (click)='bulkCaseArchive()'>folder_open</mat-icon>
          <mat-icon class='docicon' mdbRippleRadius matTooltip="Config Columns" (click)='openColumnConfig(reviewcaseapi)'>list_alt</mat-icon>
          <mat-icon class='docicon' mdbRippleRadius (click)="gridExport('reviewcase')" matTooltip="Export CSV">insert_link</mat-icon>
          <mat-icon class='docicon' mdbRippleRadius (click)="resizeAll('reviewcase')" matTooltip="Expand All">swap_horiz</mat-icon>
          <mat-icon class='docicon' mdbRippleRadius (click)="fitsizeAll('reviewcase')" matTooltip="Refit">tune</mat-icon>
        </td>
      </tr>
    </table>
    <div style="margin-top: 1px">
      <ag-grid-angular #agGridReviewCase style="width: 98%; height: 740px; font-size:11pt" class="ag-theme-balham" [rowData]="reviewcasegridData"
        [enableSorting]="true" [statusBar]="statusBar" [enableFilter]="true" [columnDefs]="gridColumnDefs" [enableColResize]="true"
        [pagination]="true" [paginationPageSize]="20" [frameworkComponents]="frameworkComponents" [context]="context" (firstDataRendered)="onFirstDataRendered($event,'reviewcase')"
        [domLayout]="autoHeight" (gridReady)="onGridReady($event,'reviewcase')">
      </ag-grid-angular>
    </div>
  </mat-tab>
  <mat-tab label="All Cases">
    <br>
    <table width=99%>
      <tr>
        <td align=left>
        </td>
        <td align=right>
          <mat-icon class='docicon' mdbRippleRadius matTooltip="Bulk Archive" (click)='bulkCaseArchive()'>folder_open</mat-icon>
          <mat-icon class='docicon' matTooltip="Config Columns" mdbRippleRadius (click)='openColumnConfig(allcaseapi)'>list_alt</mat-icon>
          <mat-icon class='docicon' matTooltip="Export CSV" mdbRippleRadius (click)="gridExport('allcase')">insert_link</mat-icon>
          <mat-icon class='docicon' matTooltip="Expand All" mdbRippleRadius (click)="resizeAll('allcase')">swap_horiz</mat-icon>
          <mat-icon class='docicon' matTooltip="Refit" mdbRippleRadius (click)="fitsizeAll('allcase')">tune</mat-icon>
        </td>
      </tr>
    </table>
    <div style="margin-top: 1px">
      <ag-grid-angular #agGridAllCase style="width: 98%; height: 740px; font-size:11pt" class="ag-theme-balham" [rowData]="allcasegridData"
        [enableSorting]="true" [statusBar]="statusBar" [enableFilter]="true" [columnDefs]="gridColumnDefs" [enableColResize]="true"
        [frameworkComponents]="frameworkComponents" [context]="context" [pagination]="true" [paginationPageSize]="50" (firstDataRendered)="onFirstDataRendered($event,'allcase')"
        [domLayout]="autoHeight" (gridReady)="onGridReady($event,'allcase')"></ag-grid-angular>
    </div>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>