<button mat-raised-button color="accent" class="text-upper" (click)="openCover(coverletter_type)" [disabled]="mycase.coverLetters">Config Cover Letter</button>
<br/>
<br>
<div class='casefield'>
<font color="green">Use the right panel Classify and Validate case documents</font> 
</div>
<br>
<mat-checkbox class="casefield" [(checked)]='caseValidated' (change)="updateStatus($event)">Validation Completed</mat-checkbox><br>
<mat-form-field class="casefield">
        <mat-select placeholder="Select Review CPA ">
            <mat-option *ngFor="let cpa of cpas" [value]="cpa.cpaId" (onSelectionChange)="setReviewCPA($event)" >
              {{ cpa.firstName }} {{cpa.lastName}}
            </mat-option>
          </mat-select>
</mat-form-field>
&nbsp;
<span>
<button mat-raised-button color="accent" class="text-upper" [disabled]='(mycase.status != "Validated") || (!reviewcpa)' (click)='sendToReview()'>Send for Review</button>
</span>
<br>
<br>
<button mat-raised-button color="accent" class="text-upper" 
 (click)='createAnotherCase()'>Create Another Case</button>
