@import "~normalize.css/normalize.css";
@import "~dragula/dist/dragula.css";
@import "~quill/dist/quill.snow.css";
@import "~angular-tree-component/dist/angular-tree-component.css";
@import "mat-select2/mat-select2";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "typography";
@import "theme/theme";
@import "hovers/hovers";
@import "cards";

/************************************** COMMON STYLES **************************************/
html, body, mat-sidenav-container {
    margin: 0;
    width: 100%;
    height: 100%;
}

//make pages display block for route animation
router-outlet ~ * {
    display: block;
    width: 100%;
    height: 100%;
}

.mat-card-header .mat-card-title {
    font-size: 15px
}

/************************************** SIDE PANEL STYLES **************************************/
.mat-sidenav {
    width: 300px;

    @include mat-elevation(16);
}

.perfect-scrollbar {
    height: 100%;
}

/************************************** TOOLBAR STYLES **************************************/
.mat-toolbar {
    @include mat-elevation(4);
}

/************************************** DIALOG STYLES **************************************/
.mat-dialog-title {
    font-size: 16px;
}

.dialog-fullscreen {
    max-width: 100vw !important;
    width: 100vw;
    height: 100vh;
}

.break-word {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/**** DIV DISABLER ***/

.disable-div-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

/**** BUTTON STYLES ***/
.mat-button.mat-small {
    min-width: 1%;
}

/**** INPUT STYLES ***/
input.no-spin {
    -moz-appearance: textfield !important;

    &::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        margin: 0 !important;
    }
}
