
<table width=98% >
        <tr><td width=70%><h6>Send Email to Client</h6></td><td>        <span>
                <button mat-raised-button color="accent" class="text-upper" [disabled]='cover.viewControl.edit' (click) = 'sendEmail()'>Send</button>
               </span>
               <span>
               <button mat-raised-button color="accent" class="text-upper" (click)='closeme()'>Cancel</button>
               </span></td></tr>
    </table>
<table width=98%>
    <tr>
        <td>
            <div style="display:inline-block">
                <b><label>To:</label></b> 
                 <mat-checkbox class="casefield" disabled='true' checked='true' *ngIf="mycase.primarySigner" [(ngModel)]='pcheck'>{{mycase.primarySigner.firstName}} {{mycase.primarySigner.lastName}}</mat-checkbox>
                 <mat-checkbox class="casefield"  *ngIf="mycase.secondarySigner" (change)='checkP($event,mycase.secondarySigner)'  [(ngModel)]='scheck'>{{mycase.secondarySigner.firstName}} {{mycase.secondarySigner.lastName}}</mat-checkbox>  
                 <mat-checkbox class="casefield"  *ngFor="let cc of mycase.recipientClients; let ii=index"  [(ngModel)]='ccheck[ii]'>{{cc.firstName}} {{cc.lastName}}</mat-checkbox>  
               </div> <br>
               <div style="display:inline-block;width:100%">
                    <mat-form-field  class='inputfield'>
                            <input matInput placeholder='Subject'   [(ngModel)]="emailsubject" >
                    </mat-form-field>                
                </div>
        </td>
        <td>
                <ul *ngFor="let adoc of mydocs">
                        <li>
                        <b>{{adoc.type}}:</b>
                        <mat-checkbox class="casefield" checked='true' value='adoc.Id'>{{adoc.name}}</mat-checkbox>  
                    </li>
                </ul>
        </td>
    </tr>
</table>


<hr>
<app-coverletter></app-coverletter>

