.inputfield {
    width:100%;
    font-size: 16px;
    text-align: left;
}

.casefield {
    padding-left:15px;
    width: 98%
  }
  .fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  .casefield > * {
    width: 98%
  }
  .container{
    float: left;
    width: 98%; 
  } 

  .fill-remaining {
    flex: 1 1 auto;
  }

  .heading-label {
    margin-left:10px;
    font-size: 16px;
    line-height: 38px;
  }
  
  .heading-label2 {
    margin-left:10px;
    font-size: 16px;
    line-height: 38px;
    font-weight: bold;
  }