

    <table>
        <tr>
          <th>
            <label class="header-label">Send EZSign Invite</label>
          </th>
        </tr>
      </table>
      <div>
        <mat-spinner *ngIf='!isInvitationReadyToShow' diameter='40'></mat-spinner>
        <span *ngIf='!isInvitationReadyToShow'>Processing...</span>
      </div>
      <table class="trackertable4" *ngIf='isInvitationReadyToShow'>
        <tr align="left">
          <td colspan="8">
            <button mat-stroked-button (click)="goBack()">
              Back
              <mat-icon>
                reply</mat-icon>
            </button>
          </td>
          <td>
              <button mat-raised-button color="accent" matTooltip="Go to EZSign documents view" (click)="goToEZSignDocumentsView()">
                  <mat-icon>home</mat-icon>&nbsp;EZSIGN DOCUMENTS
                </button>
          </td>
        </tr>
      </table>

<div fxLayout="column" *ngIf='isInvitationReadyToShow' fxLayoutAlign="space-around none">
  <!-- <mat-toolbar color="primary">
    <div *ngIf="1 > 0; then none else null"></div>
    <ng-template #none>
      Send EZSign Invite
    </ng-template>
    <span class="fill-remaining"></span>
  </mat-toolbar> -->

  <table width=90%>
    <tr>
      <td>
        <label class="heading-label">Document Title: </label>
        <label class="heading-label2">{{title}}</label>
      </td>
    </tr>
    <tr>
      <td>
        <label class="heading-label">Recipients:</label>
        <div *ngFor="let signer of eZSigners">
          <mat-checkbox class="casefield" disabled='true' checked='true' [(ngModel)]='signer.receiverId'>
            <label class="heading-label2">
              {{signer.receiverFirstName}} {{signer.receiverLastName}}
            </label>
          </mat-checkbox>
        </div>
      </td> 
    </tr>
    <tr>
      <td>
        <mat-form-field class='inputfield'>
          <input matInput placeholder='Subject' [(ngModel)]="subject">
        </mat-form-field>
      </td>
    </tr>
  </table>
  
  <div class='coverlettercontainer'>
    <div *ngIf='viewControl.view'>
      <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="body" height='200px'></app-ngx-editor>
      <br/>
    </div>
    <ng-container *ngIf='viewControl.edit'>
      <label *ngIf="errorMessage">
        <font color='red'>{{errorMessage}}</font>
      </label>
      <mat-form-field class='inputfield' *ngFor="let inp of myInputs">
        <input matInput [placeholder]='inp.name' disabled [(ngModel)]="inp.value">
      </mat-form-field>
      <span></span>
    </ng-container>
    <div class="controls" *ngIf='viewControl.edit'>
    </div>
  </div>
  
  <table width=100%>
    <tr>
      <td>
        &nbsp;&nbsp;
        <button mat-raised-button class="text-upper" (click)='goBack()'>Cancel</button>
        &nbsp; &nbsp;
        <span *ngIf='!showProcessSpinner'>
          <button mat-raised-button color="accent" class="text-upper" (click)='sendInvite()'>
            <mat-icon>send</mat-icon>&nbsp;Send Invite
          </button>
        </span>
      </td>
      <td>
        <mat-spinner *ngIf='showProcessSpinner' diameter='30'></mat-spinner>
        <span *ngIf='showProcessSpinner'>Processing...</span>
      </td>
    </tr>
  </table>

</div>