<div fxLayout="column" fxLayoutAlign="space-around none">
    <div>
        <!-- <p class="ou-title"> {{currentOu}} </p> -->
        <p class="ou-padding" fxFlex>
            <mat-select #ouSelect class="ou-title" [(ngModel)]="currentOUId" panelClass="ou-panel"
                (ngModelChange)="ouSelect.value = switch($event)">

                <perfect-scrollbar class="perfect-scrollbar">
                    <mat-optgroup label="My Organizations" *ngIf="orgMyOrgs.length > 0">
                        <mat-option *ngFor="let ou of orgMyOrgs" [value]="ou.orgUnitId">
                            {{ ou.rootOrgUnitName }}
                        </mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="As Partners" *ngIf="orgPartners.length > 0">
                        <mat-option *ngFor="let ou of orgPartners" [value]="ou.orgUnitId">
                            {{ ou.rootOrgUnitName }}
                        </mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="As Clients" *ngIf="orgClients.length > 0">
                        <mat-option *ngFor="let ou of orgClients" [value]="ou.orgUnitId">
                            {{ ou.rootOrgUnitName }}
                        </mat-option>
                    </mat-optgroup>
                    <mat-option value='new'>
                        <mat-icon>add</mat-icon> New Organization
                    </mat-option>
                </perfect-scrollbar>
            </mat-select>
        </p>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" *ngIf="(currentOU != null)">
        <org-avatar [name]="currentOU.rootOrgUnitName" [imageUrl]="currentOU.fullImageUrl"></org-avatar>
        <div fxLayout="column" class="ou-details">
            <div>Joined as: {{ currentOU.userRole.label }}</div>
            <div>Member since: {{currentOU.joinedOn | date: 'MMM yyyy'}}</div>
        </div>
    </div>
</div>