<table class="container">
  <tr>
    <td width="60%">
      <mat-form-field class="container" class="container" tdFileDrop (fileDrop)="reviewfiles = $event" flex>
        <input matInput placeholder="Upload a Review Document" [value]="reviewfiles ? reviewfiles.name : ''" />
      </mat-form-field>
    </td>
    <td>
      <td-file-input [(ngModel)]="reviewfiles" color="primary">
        <mat-icon>file_upload</mat-icon>
      </td-file-input>
    </td>
    <td>
      <span *ngIf='!showreviewfilesspinner'>
        <button mat-raised-button color="accent" [disabled]="!reviewfiles" class="row text-upper" (click)="uploadDoc('review',reviewfiles)">Submit</button>
      </span>
      <mat-spinner *ngIf='showreviewfilesspinner' diameter='40'></mat-spinner>
      <span *ngIf='showreviewfilesspinner'>Processing...</span>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="fileinputfiled" class="container" tdFileDrop (fileDrop)="esignfiles = $event" flex>
        <input matInput placeholder="Upload a ESign Document" [value]="esignfiles ? esignfiles.name : ''" />
      </mat-form-field>
    </td>
    <td>
      <td-file-input [(ngModel)]="esignfiles" color="primary">
        <mat-icon>file_upload</mat-icon>
      </td-file-input>
    </td>
    <td>
      <span *ngIf='!showspinner'>
        <button mat-raised-button color="accent" [disabled]="!esignfiles" class="row text-upper" (click)="uploadScanDoc('esign',esignfiles)">Upload And Scan</button>
      </span>
      <mat-spinner *ngIf='showspinner' diameter='40'></mat-spinner>
      <span *ngIf='showspinner'>Processing...</span>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="fileinputfiled" class="container" tdFileDrop (fileDrop)="paymentfiles = $event" flex>
        <input matInput placeholder="Upload Payment Vouchers" [value]="paymentfiles ? paymentfiles.name : ''" />
      </mat-form-field>
    </td>
    <td>
      <td-file-input [(ngModel)]="paymentfiles" color="primary">
        <mat-icon>file_upload</mat-icon>
      </td-file-input>
    </td>
    <td>
      <span *ngIf='!showpaymentfilesspinner'>
        <button mat-raised-button color="accent" [disabled]="!paymentfiles" class="text-upper" (click)="uploadDoc('paymentvoucher',paymentfiles)">Submit</button>
      </span>
      <mat-spinner *ngIf='showpaymentfilesspinner' diameter='40'></mat-spinner>
      <span *ngIf='showpaymentfilesspinner'>Processing...</span>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="fileinputfiled" class="container" tdFileDrop (fileDrop)="paperfiles = $event" flex>
        <input matInput placeholder="Tax Return for Paper File" [value]="paperfiles ? paperfiles.name : ''" />
      </mat-form-field>
    </td>
    <td>
      <td-file-input [(ngModel)]="paperfiles" color="primary">
        <mat-icon>file_upload</mat-icon>
      </td-file-input>
    </td>
    <td>
      <span *ngIf='!showpaperfilesspinner'>
        <button mat-raised-button color="accent" [disabled]="!paperfiles" class="text-upper" (click)="uploadDoc('paper',paperfiles)">Submit</button>
      </span>
      <mat-spinner *ngIf='showpaperfilesspinner' diameter='40'></mat-spinner>
      <span *ngIf='showpaperfilesspinner'>Processing...</span>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="fileinputfiled" class="container" tdFileDrop (fileDrop)="k1files = $event" flex>
        <input matInput placeholder="K-1s for distribution to shareholder/members" [value]="k1files ? k1files.name : ''" />
      </mat-form-field>
    </td>
    <td>
      <td-file-input [(ngModel)]="k1files" color="primary">
        <mat-icon>file_upload</mat-icon>
      </td-file-input>
    </td>
    <td>
      <span *ngIf='!showk1filesspinner'>
        <button mat-raised-button color="accent" [disabled]="!k1files" class="text-upper" (click)="uploadDoc('k1',k1files)">Submit</button>
      </span>
      <mat-spinner *ngIf='showk1filesspinner' diameter='40'></mat-spinner>
      <span *ngIf='showk1filesspinner'>Processing...</span>
    </td>
  </tr>
</table>