<table>
    <tr>
        <th>
            <label class="heading-label">EZSign</label>
        </th>
    </tr>
</table>
<br>
<mat-tab-group (focusChange)="changeTab($event)" #myTabGroup [selectedIndex]="selectedIndex">
    <mat-tab>
        <ng-template mat-tab-label>
            Send Documents
        </ng-template>
        <br>
        <app-ezsign-senderdocuments></app-ezsign-senderdocuments>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            Received Documents
        </ng-template>
        <br>
        <app-myezsigndocs></app-myezsigndocs>
    </mat-tab>
</mat-tab-group>