<div class="container">
    <table width='95%'>
      <tr>
        <span>
        <td>Document Id: <font color='#336699'>{{docId}}</font></td>
        <td>Page Seq No: <font color='#336699'>{{pageSeqNo}}</font></td>
      </span>
      </tr>
      <tr><br></tr>
      <tr>
        <td>
                <mat-radio-group class="signedparty-radio-group" [(ngModel)]="signedPartyOption">
                  <mat-radio-button class="signedparty-radio-button" value='PRIMARY_SIGNER' >Tax payer signature only (Primary signer)&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                  <mat-radio-button class="signedparty-radio-button" value='SECONDARY_SIGNER' >Spouse signature only (Secondary signer)&nbsp;&nbsp;&nbsp;</mat-radio-button>
                  <mat-radio-button *ngIf="signatureBoxCount != 1" class="signedparty-radio-button" value='PRIMARY_SECONDARY' >Both signatures (Primary and Secondary signers)&nbsp;&nbsp;&nbsp;</mat-radio-button>          
                </mat-radio-group>
        </td>
         <td></td>
      </tr>
      <tr><br></tr>
      <tr>      
        <td>
           <span>
               <button mat-raised-button color="accent" class="text-upper" (click)='saveSignedParty()'>Save</button>
             &nbsp;  <button mat-raised-button color="accent" class="text-upper" (click)="closeme()">Cancel</button>  
           </span>
        </td>
        <td></td>
      </tr>
    </table>
    
   </div>
   