<table>
    <tr>
        <th>
            <label class="heading-label">COVID-19 Information Tracker</label>
        </th>
    </tr>
</table>
<div>
    <table class="helptable">
        <tr>
            <td><mat-icon>pan_tool</mat-icon>
                <mat-label>
                        Note: our application is a tool that aims to help our users reopen their businesses safely. 
                        While our tool is designed by consulting official guidelines and restrictions, it is just a guide and we are not making any business decisions for any organization. 
                        For example, at-risk individuals identified by the survey should follow the organization's policies & procedures, whether it's staying home or getting tested for COVID-19. 
                </mat-label>
            </td>
        </tr>
    </table>
</div>
<div>
    <br/>
    <mat-spinner *ngIf='!isITDataFetched' diameter='40'></mat-spinner>
    <span *ngIf='!isITDataFetched'>Processing...</span>
</div>
<table class="trackertable5">
    <tr align="left">
        <td colspan="3" *ngIf='!hasForms && isITDataFetched'>
            <button mat-raised-button color="accent" matTooltip="Activate" (click)="activateInfoTrackFunction()">
                <mat-icon>check_circle</mat-icon>&nbsp;ACTIVATE
            </button>
        </td>
        <td colspan="3" *ngIf='hasForms && isITDataFetched'>
            <button mat-raised-button color="accent" matTooltip="Activate" (click)="addRemoveForms()">
                <mat-icon>description</mat-icon>&nbsp;FORMS
            </button>
        </td>
        <!-- <td colspan="4" *ngIf='hasForms && isITDataFetched'>
            <button mat-raised-button color="accent" matTooltip="Location" (click)="manageLocations()">
                    <mat-icon>location_city</mat-icon>&nbsp;LOCATIONS
            </button>
    </td> -->
        <td colspan="3" *ngIf='hasForms && isITDataFetched'>
            <button mat-raised-button color="accent" matTooltip="Designated Users" (click)="manageDesignatedUsers()">
                <mat-icon>person_add</mat-icon>&nbsp;DESIGNATED USERS
            </button>
        </td>

        <td colspan="3" *ngIf='hasForms && isITDataFetched'>
            <button mat-raised-button *ngIf ='userRole == "ADMIN" || userRole == "OWNER"' color="accent" matTooltip="Admin View" (click)="adminDashboard()">
                <mat-icon>person_add</mat-icon>&nbsp;ADMIN DASHBOARD
            </button>
        </td>
    </tr>
</table>

<div *ngIf='!hasForms && isITDataFetched'>
    <table class="trackertable">
        <tr>
            <td>
                <mat-label>
                    Your organization is currently not activated to use Information Tracking Business function. Please click
                    <b>ACTIVATE</b> button to activate it.
                </mat-label>
                <!-- </td>
        <td>
            <button mat-raised-button color="accent" matTooltip="Activate" (click)="activateInfoTrackFunction()">
                <mat-icon>library_add_check</mat-icon>&nbsp;&nbsp;ADD FORMS
            </button> -->
            </td>
        </tr>
    </table>
</div>
<br/>
<mat-table *ngIf='hasForms && isITDataFetched' [dataSource]="orgInfoTrackForms" class="mat-elevation-z8">

    <ng-container matColumnDef="formName">
        <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"> Active Form(s) </mat-header-cell>
        <mat-cell *matCellDef="let element" style="font-weight: bold;color:black"> {{element.formName}} </mat-cell>
    </ng-container>

     <ng-container matColumnDef="selfReport">
    <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"></mat-header-cell>
    <mat-cell *matCellDef="let row">
        <button mat-icon-button matTooltip="Self Report" (click)="selfReport(row.templateId)">
            <mat-icon style="color:#004d00;font-weight: bold">attach_file</mat-icon>
            <label style="color:#004d00;;font-weight: bold">Self-Report</label></button>
    </mat-cell>
</ng-container> 

<ng-container matColumnDef="view">
    <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"></mat-header-cell>
    <mat-cell *matCellDef="let row">
        <button mat-icon-button matTooltip="View" (click)="view(row.templateId, row.formName)">
            <mat-icon style="color:#004d00;font-weight: bold">insert_chart_outlined</mat-icon>
            <label style="color:#004d00;;font-weight: bold">Self-Report View</label></button>
    </mat-cell>
</ng-container>

<ng-container matColumnDef="reportForOthers">
    <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"></mat-header-cell>
    <mat-cell *matCellDef="let row">
        <button mat-icon-button matTooltip="Report for Others" (click)="reportForOthers(row.templateId)">
            <mat-icon style="color:#004d00;font-weight: bold">attach_file</mat-icon>
            <label style="color:#004d00;;font-weight: bold">Report-for-Others</label></button>
    </mat-cell>
</ng-container> 

<ng-container matColumnDef="reportForOthersView">
    <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"></mat-header-cell>
    <mat-cell *matCellDef="let row">
        <button mat-icon-button matTooltip="View" (click)="reportForOthersView(row.templateId, row.formName)">
            <mat-icon style="color:#004d00;font-weight: bold">insert_chart_outlined</mat-icon>
            <label style="color:#004d00;;font-weight: bold">Report-for-Others View</label></button>
    </mat-cell>
</ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: white"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

