.row{
    white-space: nowrap;
    float: right
}

.history{
    margin: .8em;
    width: 98%;
}


    .docicon{
        width:30px;
        float:right;
      }

    .docicon:hover {
        background-color: #ccccff;
      }

.historyrow:hover{
    background-color: #ccffcc;
}

.searchcase {
    width: 240pt;
}
.remindericon{
    margin-left: 25px; /* optional */   
}
.docicon{
    margin-right:30px; /* optional */
}
.trackertable {
    margin-top: 20px;
    padding-top: 25px;
    padding-left:25px;
    padding-bottom: 25px;
    padding-right: 25px;
    max-width: 1200px;
    width: 100%;
  border: 1px solid #ddd;
  background-color:white;
  }
  .iconcss {
    font-size: 45px;
  }
  .heading-label {
    color: #03a9f4;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 25px;
    line-height: 48px;
  }

  .trackertable2 {
    margin-top: 20px;
    margin-left: 420px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:30px;
    max-width: 600px;
    width: 100%;
  border: 1px solid #ddd;
  }

  .trackertable3 {
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left:15px;
    padding-right:15px;
    max-width: 1200px;
    width: 100%;
    background-color:white;
  border: 1px solid #ddd;
  }
  .trackertable4 {
    margin-top: 20px;
    padding-bottom: 15px;
    padding-right:15px;
    max-width: 1200px;
    width: 100%;
  }
  .trackertable5 {
    margin-top: 20px;
    padding-bottom: 15px;
    padding-right:15px;
    max-width: 500px;
    width: 100%;
  }
  .casefield {
    padding-left:15px;
    width: 90%
  }
  
  .casefield > * {
    width: 90%
  }
  .mat-row:nth-child(even){
   // background-color:	#ccccff;
   background-color:#ebfaeb;
    }

.mat-row:nth-child(odd){
    background-color:#FFFFFF;
    }