.textareafd{
    width:96%
}

.vInspecDivClass {
    border-style: double;
  }

  .casefield {
    padding-left:5px;
    width: 100%
  }
  
  .casefield > * {
    width: 100%
  }

  .invgridColumn{
    display:inline-block;
    margin: 5%;    
}