<div class="container">
  <table width='95%'>
    <tr>
      <td>Case #:&nbsp;<font color='#336699'>{{mycaseId}}</font></td>
      <td>   
      </td>
    </tr>
    <tr>
      <td colspan=2>
        <form [formGroup]="filingStatusForm">
          <div fxLayout="column">
            <div class="invgridColumn">
              <mat-form-field class="casefield">
                <mat-label>Select filing status</mat-label>
                <mat-select [(value)]="status" required formControlName="statusFormControl">
                  <mat-option value="e-File-Completed">e-File-Completed</mat-option>
                  <mat-option value="e-File-Pending">e-File-Pending</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <span *ngIf='!showActionSpinner'>
                  <button mat-raised-button color="primary" (click)='updateCaseFilingStatus()' type="submit" 
                  [disabled]="filingStatusForm.invalid">UPDATE</button>
                </span>
                <mat-spinner *ngIf='showActionSpinner' diameter='30'></mat-spinner>
                <span *ngIf='showActionSpinner'>Processing...</span>
                &nbsp;
                <button mat-raised-button color="warn" class="text-upper" (click)='closeme()'>CANCEL</button>
              </div>
            </div>
          </div>
        </form>
      </td>
    </tr>
    <!-- 
    <tr>
      <td></td>
      <td>
        <span>
          <button mat-raised-button color="accent" class="text-upper" (click)='updateCaseFilingStatus()'>Update</button>
          &nbsp;
          <button mat-raised-button color="accent" class="text-upper" (click)="closeme()">Cancel</button>
        </span>
      </td>
    </tr> -->
  </table>

</div>