<span>
  <label class="heading-label">{{title}}</label>
  <button mat-icon-button color="warn" style="margin-left:90%" (click)="cancelEsignature()">
    <mat-icon style="font-size: 40px;">clear</mat-icon>
  </button>
</span>


<div fxLayout="column">
  <table id="summaryTable">
    <tr>
      <td width="30%">
        Review Date:
      </td>
      <td>
        {{reviewDate}}
      </td>
    </tr>
    <tr>
      <td width="30%">
        Reviewer Name:
      </td>
      <td>
        {{reviewerName}}
      </td>
    </tr>
    <tr>
        <td width="30%">
          Location:
        </td>
        <td>
          <form [formGroup]="reviewReportForm">
            <mat-form-field class="appfield" appearance="outline">
              <input #location matInput type="text" [matChipInputFor]="locationchips" 
              [matAutocomplete]="autolocation" formControlName="locationFormControl"
                [(ngModel)]="locationInput" required>
              <mat-error *ngIf="reviewReportForm.get('locationFormControl').hasError('required')">
                Location name is required
              </mat-error>
              <mat-chip-list #locationchips>
                <mat-chip *ngIf="locationName" [selectable]="selectable" [removable]="removable" 
                (removed)="removeLocation()">
                  {{ locationName }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <mat-autocomplete #autolocation="matAutocomplete">
                  <mat-option *ngFor="let locationName of locations" [value]="locationName" 
                  (onSelectionChange)="selectLocation($event)">
                    {{ locationName }}
                  </mat-option>
                </mat-autocomplete>
              </mat-chip-list>
            </mat-form-field>
          </form>
        </td>
      </tr>
    <tr>
      <td width="30%">
        <mat-label>Preview signed document:</mat-label>
      </td>
      <td>
        <button mat-icon-button matTooltip="Preview" (click)="previewToBeSignedDocument()">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </tr>
    
  </table>
  <table id="summaryTable">
    <tr>
      <td width="75%">
        <p>Please sign below to submit the review process
        </p>
      </td>
      <td>
        <button mat-raised-button color="accent" (click)="drawClear()">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td width="75%">
        <div class='sig-container'>
          <signature-pad [options]="signaturePadOptions" id="signaturepad">
          </signature-pad>
        </div>
      </td>
      <td></td>
    </tr>
  </table>
</div>

<br>
<table class="qstnTable">
  <tr>
    <td>
      <button mat-raised-button class="row text-upper" (click)='cancelEsignature()'>Cancel</button>
    </td>
    &nbsp;
    <td>
      <span *ngIf='!showSpinner'>
        <button mat-raised-button color="accent" class="row text-upper" (click)='submitReview()'>Submit</button>
      </span>
      <mat-spinner *ngIf='showSpinner' diameter='20'></mat-spinner>
      <span *ngIf='showSpinner'>Processing...</span>
    </td>
  </tr>
</table>