.casefield {
    padding-left:15px;
    width: 250;
    font-size: 12;
  }
  
  .casefield > * {
    width: 250
  }
.sig-container {
  //  padding-left:35px;
    border-style: dashed;
    border-width: 1px;
    width: 420px;
  }
  .sig-container canvas {
    border-style: solid;
    border-width: 1px;
    width: 420px;
  }

  .heading-label {
    margin-left:30%;
    color: #03a9f4;
    font-size: 20px;
    line-height: 28px;
  }

  .alreadyReportedlabel {
    font-size: 16px;
    font-weight: bold;
    }

    .qstnTable {
      margin-left: 15px;
    }
    .qstnlabelfield {
      font-size: 18px;
      font-weight: bold;
    }
    .labelfield {
      padding-left:15px;
      font-size: 18px;
      vertical-align:middle;
    }
    #summaryTable {
      margin-left: 3%;
      border-collapse: collapse;
      width: 90%;
    }
    
    #summaryTable td, #summaryTable th {
     // border: 1px solid #ddd;
      padding: 3px;
    }

    .appfield {
      width: 60%;
    }
    
      .appfield > * {
        width: 60%;
        }