<table>
    <tr>
        <th>
            <label class="heading-label">Create New EZSign Document</label>
        </th>
    </tr>
</table>
<table class="trackertable4">
    <tr align="left">
        <td>
            <button mat-raised-button color="accent" matTooltip="Go to EZSign documents view" (click)="goToEZSignDocumentsView()">
                <mat-icon>home</mat-icon>&nbsp;EZSIGN DOCUMENTS
            </button>
        </td>
    </tr>
</table>

<div fxLayout="column">
    <!-- <mat-toolbar color="primary">
    Create New EZSign Document
    <span class="fill-remaining"></span>
    <button mat-fab color="accent" class="fab-add" (click)="closeMe()">
        <mat-icon>cancel</mat-icon>
    </button>
</mat-toolbar>
<br> -->

    <table>
        <tr>
            <td colspan="12">
                <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper #eZSignWFStepper="matHorizontalStepper">
                    <mat-step completed="true" editable="false">
                        <ng-template matStepLabel matStepperIcon="edit">
                            <mat-icon>insert_drive_file</mat-icon>
                            <br>
                            <strong>Upload Document</strong>
                            <br> Upload PDF document to send for signing</ng-template>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel matStepperIcon="edit">
                            <mat-icon>group</mat-icon>
                            <br>
                            <strong>Add Signer, Field</strong>
                            <br/> Add signer by their email address,
                            <br/> Add field (Initial,Date,Signature and Text) in document</ng-template>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel matStepperIcon="edit">
                            <mat-icon>list_alt</mat-icon>
                            <br>
                            <strong>Move field</strong>
                            <br> Move field to the desired location</ng-template>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel matStepperIcon="edit">
                            <mat-icon>mail</mat-icon>
                            <br>
                            <strong>Send Invites</strong>
                            <br> Review and send invites for signing the document</ng-template>
                    </mat-step>
                </mat-horizontal-stepper>
            </td>
        </tr>
        <tr>
            <td colspan="12">
                <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
                    <label class="heading-label">Drag and drop or Upload PDF or Word document here</label>
                    <input hidden multiple type="file" accept=".docx,.pdf" #fileInput (change)="uploadFile($event.target.files)">
                </div>

                <div class="files-list" *ngFor="let file of files;let i=index">
                    <p>{{ file.name }}</p>
                    <button class="delete-file" (click)="deleteAttachment(i)">
                        <img src="/assets/imgs/Recycle_Bin_Full.png">
                    </button>
                </div>
                <br>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div class="uploadbtn">
                        <mat-form-field class="appfield" *ngIf="files.length != 0" appearance="outline">
                                <mat-label>Document Title</mat-label>
                                <input required matInput 
                                [(ngModel)]="documentTitle">
                                <mat-error *ngIf="documentTitle === null || documentTitle === ''">
                                  Document Title is required
                                </mat-error>
                              </mat-form-field>  &nbsp; &nbsp;
                    <span *ngIf='!showProcessSpinner'>
                        <button *ngIf="files.length != 0" mat-raised-button color="accent" matTooltip="Create new ezsign document" (click)="createNewEZSignDocument()">
                            UPLOAD
                        </button>
                    </span>
                    <mat-spinner *ngIf='showProcessSpinner' diameter='40'></mat-spinner>
                    <span *ngIf='showProcessSpinner'>Processing...</span>
                </div>
            </td>
        </tr>

    </table>

</div>