.uploadfilecontainer {
    background-image: url("../../../../assets/imgs/cloud-2044823_960_720.png");
    background-repeat: no-repeat;
    background-size:10%;
    background-position: center;
    height: 30%;
    width: 95%;
    margin: 20px auto;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
  }
  
  .uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
  }
  
  .files-list {
    display: flex;
   // justify-content: space-between;
    width: 80%;
    margin-left: 10px;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
  }
  
  .files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .files-list .delete-file img{
    width:30px;
  }
  .heading-label {
    margin-left:10px;
    color: #03a9f4;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 25px;
    line-height: 48px;
  }
  .fill-remaining {
    flex: 1 1 auto;
  }
  
  .fab-add {
    margin-top: 1px;
    margin-right: 20px;
  }