<span>
    <label class="heading-label">{{ title }}</label>
    <button mat-icon-button color="warn" style="margin-left:90%" (click)="cancelPopup()">
      <mat-icon style="font-size: 40px;">clear</mat-icon>
    </button>
  </span>
  <div>
      <mat-spinner *ngIf='!isLocationsLoaded' diameter='40'></mat-spinner>
      <span *ngIf='!isLocationsLoaded'>Processing...</span> 
  </div>
  
  <div fxLayout="column" *ngIf="isLocationsLoaded">
      <mat-form-field class="appfield" appearance="outline">
        <mat-label>Organization Name</mat-label>
        <input matInput [(ngModel)]="orgUnitName" readonly>
      </mat-form-field>
  </div>
  
  <table class="trackertable4" *ngIf='isLocationsLoaded'>
      <tr align="left">
          <td colspan="12">
              <button mat-raised-button color="accent" matTooltip="Create new location" 
              (click)="addLocation()">
                  <mat-icon>control_point</mat-icon>&nbsp;ADD LOCATION
              </button>
          </td>
      </tr>
  </table>
  
  <mat-table class="invgridColumn" *ngIf="isLocationsLoaded" [dataSource]="locationData">

    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"> Location </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.geoLocation}}    
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"> Address </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.address}}    
        </mat-cell>
      </ng-container>

  <ng-container matColumnDef="zipCode">
        <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"> ZipCode </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.zipCode}}    
        </mat-cell>
      </ng-container>
    
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"> Edit </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button matTooltip="Edit location" (click)="updateLocation(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"> Delete </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="Delete location" 
          (click)="openConfirmationDialogforLocationDeletion(row.locSeqNo)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  
  <div>
    <br/>
    <br/>
  </div>
  
  <div class="button-row" *ngIf="isLocationsLoaded">
    <div fxLayout="row">
      <button mat-raised-button class="text-upper" (click)="cancelPopup()">
        Cancel
      </button>
      &nbsp; &nbsp;  
        <button mat-raised-button color="accent" 
        class="text-upper" (click)="cancelPopup()">
          OK
          <mat-icon>loop</mat-icon>
        </button>
       </div>
  </div>
  
  