.nav {
    padding-right: 2px;
    padding-left:2px;
    margin-top: 2px;
    width: 30%; 
    height: 640px;
    float: left;
    direction: ltr;
    border:1pt;
    overflow-y: auto;
  }
  .content{
    padding-right: 2px;
    padding-left:2px;
    margin-top: 2px;
    width: 40%; 
    min-height:480pt;
    height: 720px;
    float: left;
    direction: ltr;
    overflow-y: auto;
    //border: 1px solid #ddd;
  }