<p>
  <mat-toolbar color="primary">
    <h4> EVERLEAGUES EZsign Guest Portal </h4>
  </mat-toolbar>

</p>
<div class="nav"></div>
<div class="content" *ngIf="tokenStatus == 'expired'">
  <font size=+2 color=green>
    <br>
    <br> The URL Link you used is expired. Please use the button below to resend the link to your email box.
  </font>
  <br>
  <br>
  <br>
  <br>
  <table width=90%>
    <tr>
      <td align=center>

        <button mat-raised-button color="primary" *ngIf='resendstatus != "Y"' (click)="resendLink()">Resend Link</button>
        <div *ngIf='resendstatus=="Y"'>
          <font color=blue size=+1> A updated link will be send to your email accoount shortly. Pleaes use the updated link to access the document.
            </font>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="content" *ngIf="tokenStatus == 'valid' && mycase != null && mycase.ezSignStatus != 'Signed'">
  <p>
  </p>
  <table width=90%>
    <tr>
      <td align=center>
        <font size=+2 color=green>
          <br>
          <br> You have an EZsign document ready for signing.
        </font>
        <br>
        <br>
        <br>
        <br>
        <button mat-raised-button color="primary" (click)="goToGuestDoc()">Begin</button>
      </td>
    </tr>
  </table>
</div>

<div class="content" *ngIf="tokenStatus == 'notfound'">
  <p>
  </p>
  <font size=+2 color=green>
    <br>
    <br> The document has been removed.
  </font>
  <br>
  <br>
  <br>
  <br>

</div>
<div class="content" *ngIf="tokenStatus == 'invalid'">
  <p>
  </p>
  <font size=+2 color=green>
    <br>
    <br> The Link is invalid.
  </font>
  <br>
  <br>
  <br>
  <br>

</div>