.casefield {
    padding-left:15px;
    width: 250;
    font-size: 12;
  }
  
  .casefield > * {
    width: 250
  }
.sig-container {
    padding-left:15px;
    border-style: dashed;
    border-width: 1px;
    width: 420px;
  }
  .sig-container canvas {
    border-style: solid;
    border-width: 1px;
    width: 420px;
  }