.container{
    margin-left: 1200px;
    float: left;
    width: 98%; 
  } 

  .casefield {
    padding-left:15px;
    width: 90%
  }
  
  .casefield > * {
    width: 90%
  }
 
  .trackertable2 {
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:30px;
    padding-right:30px;
    max-width: 800px;
    width: 100%;
  //border: 1px solid #ddd;
  }