<span>
  <label class="heading-label">{{ title }}</label>
  <button mat-icon-button color="warn" style="margin-left:30%" (click)="cancelAddReceipt()">
    <mat-icon style="font-size: 40px;">clear</mat-icon>
  </button>
</span>

<div fxLayout="column">
  <div class="invgridColumn">
    <form [formGroup]="receiptForm">

      <mat-form-field class="appfield" appearance="outline">
        <mat-label>Vendor/Customer Name</mat-label>
        <input matInput #focusField type="text" [matChipInputFor]="vendorchips" [matAutocomplete]="autovendor" formControlName="vendorNameFormControl"
          [(ngModel)]="vendorNameInput" required>
        <mat-error *ngIf="receiptForm.get('vendorNameFormControl').hasError('required')">
          Vendor name is required
        </mat-error>
        <mat-chip-list #vendorchips>
          <mat-chip *ngIf="vendorName" [selectable]="selectable" [removable]="removable" (removed)="removeVendor()">
            {{ vendorName }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <mat-autocomplete #autovendor="matAutocomplete">
            <mat-option *ngFor="let vendor of vendors" [value]="vendor" (onSelectionChange)="selectVendor($event)">
              {{ vendor }}
            </mat-option>
          </mat-autocomplete>
        </mat-chip-list>
      </mat-form-field>

      <mat-form-field class="appfield" appearance="outline">
        <mat-label>Account Type</mat-label>
        <input type="text" [matChipInputFor]="accounttypechips" matInput [matAutocomplete]="autoaccounttype" formControlName="accountTypeFormControl"
          [(ngModel)]="accounttypeInput" required (focusout)="accountTypefocusOut()"
          (matChipInputTokenEnd)="add($event)" 
          (keydown.Tab)="onKey($event)">
        <mat-error *ngIf="receiptForm.get('accountTypeFormControl').hasError('required')">
          Account type is required
        </mat-error>
        <mat-chip-list #accounttypechips placeholder="Account Type">
          <mat-chip *ngIf="accountType" [selectable]="selectable" [removable]="removable" 
          (removed)="removeAccountType()">
            {{ accountType }}
            <mat-icon matChipRemove *ngIf="atremovable">cancel</mat-icon>
          </mat-chip>
          <mat-autocomplete #autoaccounttype="matAutocomplete">
            <mat-option *ngFor="let acctType of accountTypes" [value]="acctType.acctNo" 
            (onSelectionChange)="selectAccountType($event)">
              {{ acctType.acctNo }}-{{ acctType.acctDescription }}
            </mat-option>
          </mat-autocomplete>
        </mat-chip-list>
      </mat-form-field>

      <mat-form-field class="appfield" appearance="outline">
        <mat-label>Receipt Date</mat-label>
        <input required matInput [matDatepicker]="startDate" date="true" formControlName="receiptDateFormControl">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="appfield" appearance="outline">
        <mat-label>Amount</mat-label>
        <!--ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" type="number" -->
        <input matInput currencyMask formControlName="amountFormControl" 
        [(ngModel)]="amount" [options]="{ prefix: '$', 
                                          thousands: '.', 
                                          decimal: ',', 
                                          align: 'left',
                                          precision: 2,
                                          allowNegative: false }" 
          required>
        <!-- <span matPrefix>$</span> -->

        <mat-error *ngIf="receiptForm.get('amountFormControl').hasError('required')">
          Receipt amount is required
        </mat-error>
        <mat-error *ngIf="receiptForm.get('amountFormControl').hasError('min')">
          Receipt amount should be greater than 0
        </mat-error>

      </mat-form-field>


      <div fxLayout="row">
        <label class="heading-label2">Upload Receipt <br/><mat-hint style="color:red">*Required</mat-hint></label>
        <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
          <input hidden accept=".pdf" type="file" #fileInput (change)="uploadFile($event.target.files)">
          </div>
        <div class="files-list" *ngFor="let file of files;let i=index">
          <p>{{ file.name }}</p>
          <button class="delete-file" (click)="deleteAttachment(i)">
            <img src="../../../../assets/imgs/Recycle_Bin_Full.png">
          </button>
        </div>
      </div>
      <div>
        <br/>
      </div>
      <!-- <div fxLayout="row">
         <span>
        <mat-form-field class="appfield2" tdFileDrop (fileDrop)="receiptFiles = $event" flex>
          <input matInput placeholder="Upload Receipt" [value]="receiptFiles ? receiptFiles.name : ''" />
        </mat-form-field>
        <td-file-input [(ngModel)]="receiptFiles" color="primary">
          <mat-icon>file_upload</mat-icon>
        </td-file-input>     
        <b> {{ uploadedReceiptFile }} </b>
      </span>
      </div>  
      <button mat-raised-button color="accent" [disabled]="!receiptFiles" class="row text-upper" 
      (click)="uploadReceiptFile(receiptFiles)">Upload</button>
      <mat-error *ngIf="!isPdfFile">Please upload only pdf file..</mat-error> -->

      <mat-form-field class="appfield" appearance="outline">
        <mat-label>Add a note</mat-label>
        <input matInput [(ngModel)]="notes" formControlName="notesFormControl">
      </mat-form-field>
    </form>

    <div>
      <br/>
    </div>

    <div class="button-row">
      <div fxLayout="row">

        <button mat-raised-button class="text-upper" (click)="cancelAddReceipt()">
          Cancel
        </button>
        &nbsp; &nbsp;
        
        <span *ngIf='!showAddspinner'>
          <button *ngIf='operation =="addreceipt"' [disabled]="!uploadedFileName ||  receiptForm.invalid" mat-raised-button color="accent"
            class="text-upper" (click)="addReceipt()">
            Done
            <mat-icon>check_circle_outline</mat-icon>
          </button>
        </span>
        <mat-spinner *ngIf='showAddspinner' diameter='20'></mat-spinner>
        <span *ngIf='showAddspinner'>Processing...</span>
        &nbsp; &nbsp;
        
        <span *ngIf='!showEditspinner'>
          <button *ngIf='operation =="editreceipt"' [disabled]="!uploadedFileName ||  receiptForm.invalid" mat-raised-button color="accent"
            class="text-upper" (click)="updateReceipt()">
            Update
            <mat-icon>loop</mat-icon>
          </button>
        </span>
        <mat-spinner *ngIf='showEditspinner' diameter='20'></mat-spinner>
        <span *ngIf='showEditspinner'>Processing...</span>
      </div>
    </div>
  </div>




  <!-- <table class="trackertable">
  <tr align="center">
    <td colspan="8">
      <h6> {{ title }} </h6>
    </td>
  </tr>
  <tr>
    <mat-form-field class="casefield">
      <mat-chip-list #vendorchips placeholder="Vendor/Customer Name">
        <mat-chip *ngIf="vendorName" [selectable]="selectable" [removable]="removable" (removed)="removeVendor()">
          {{ vendorName }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>

        <input type="text" placeholder="Vendor/Customer Name" [matChipInputFor]="vendorchips" matInput [matAutocomplete]="autovendor"
          [formControl]="clientctrl" [(ngModel)]="vendorNameInput">

        <mat-autocomplete #autovendor="matAutocomplete">
          <mat-option *ngFor="let vendor of vendors" [value]="vendor" (onSelectionChange)="selectVendor($event)">
            {{ vendor }}
          </mat-option>
        </mat-autocomplete>

      </mat-chip-list>
    </mat-form-field>
  </tr>
  <tr>
    <mat-form-field class="casefield">

      <mat-chip-list #accounttypechips placeholder="Account Type">
        <mat-chip *ngIf="accountType" [selectable]="selectable" [removable]="removable" (removed)="removeAccountType()">
          {{ accountType }}
          <mat-icon matChipRemove *ngIf="atremovable">cancel</mat-icon>
        </mat-chip>

        <input type="text" placeholder="Account Type" [matChipInputFor]="accounttypechips" matInput [matAutocomplete]="autoaccounttype"
          [formControl]="accounttypeclientctrl" [(ngModel)]="accounttypeInput">

        <mat-autocomplete #autoaccounttype="matAutocomplete">
          <mat-option *ngFor="let acctType of accountTypes" [value]="acctType.acctNo" (onSelectionChange)="selectAccountType($event)">
            {{ acctType.acctNo }}-{{ acctType.acctDescription }}
          </mat-option>
        </mat-autocomplete>

      </mat-chip-list>
    </mat-form-field>

  </tr>
  <tr>
    <mat-form-field class="casefield">
      <input matInput [matDatepicker]="startDate" name="start_time" date="true" #start_time="ngModel" placeholder="Choose a receipt Date"
        [(ngModel)]="planModel.start_time">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>
    <tr>
      <mat-form-field class="casefield">
        <input matInput type="number" placeholder="Amount" [(ngModel)]="amount" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
      </mat-form-field>
    </tr>
    <tr>
      <mat-form-field class="casefield">
        <input matInput placeholder="Notes" [(ngModel)]="notes">
      </mat-form-field>
    </tr>
    <tr>
      <span>
        <td>
          <mat-form-field class="casefield" tdFileDrop (fileDrop)="receiptFiles = $event" flex>
            <input matInput placeholder="Upload Receipt" [value]="receiptFiles ? receiptFiles.name : ''" />
          </mat-form-field>
        </td>
        <td>
          <td-file-input [(ngModel)]="receiptFiles" color="primary">
            <mat-icon>file_upload</mat-icon>
          </td-file-input>
        </td>
        <td>
          <button mat-raised-button color="accent" [disabled]="!receiptFiles" class="row text-upper" (click)="uploadReceiptFile(receiptFiles)">Upload</button>
        </td>
        <td>
          <mat-error *ngIf="!isPdfFile">Please upload only pdf file..</mat-error>
          <b> {{ uploadedReceiptFile }} </b>
        </td>
      </span>
    </tr>
</table>
<br/>
<table class="trackertable2">
  <tr>
    <td>
      <span *ngIf='!showAddspinner'>
        <button *ngIf='operation =="addreceipt"' [disabled]="!receiptUploaded" mat-raised-button color="accent" class="text-upper"
          (click)="finalizeAddReceipt()">
          Finish
        </button>
      </span>
    </td>
    <td>
      <mat-spinner *ngIf='showAddspinner' diameter='40'></mat-spinner>
      <span *ngIf='showAddspinner'>Processing...</span>
      <span *ngIf='!showEditspinner'>
        <button *ngIf='operation =="editreceipt"' mat-raised-button color="accent" class="text-upper" (click)="finalizeUpdateReceipt()">
          Update
        </button>
      </span>
    </td>
    <td>
      <mat-spinner *ngIf='showEditspinner' diameter='40'></mat-spinner>
      <span *ngIf='showEditspinner'>Processing...</span>
      <button mat-raised-button color="accent" class="text-upper" (click)="cancelAddReceipt()">
        Cancel
      </button>
    </td>
  </tr>
</table> -->