<span>
  <label class="heading-label">Report for Other Users</label>
  <button mat-icon-button color="warn" style="margin-left:90%" (click)="cancelSelfReport()">
    <mat-icon style="font-size: 40px;">clear</mat-icon>
  </button>
</span>

<div>
  <br/>
  <mat-spinner *ngIf='!isDataFetched' diameter='40'></mat-spinner>
  <span *ngIf='!isDataFetched'>Processing...</span>
</div>

<div fxLayout="column" *ngIf='isDataFetched'>

  <form [formGroup]="selfReportForm">
    <mat-form-field class="casefield" appearance="outline">
      <mat-label>Report Date</mat-label>
      <input required matInput [matDatepicker]="startDate" readonly date="true" formControlName="reportDateFormControl">
    </mat-form-field>

    <!-- <mat-form-field class="casefield" appearance="outline">
            <mat-label>Add For</mat-label>
            <input matInput #focusField type="text" formControlName="userNameFormControl" [(ngModel)]="userName">
          </mat-form-field> -->
    <mat-form-field class="casefield" appearance="outline">
      <mat-chip-list #infoTrackUserchips placeholder="Select User">
        <mat-chip *ngIf="infoTrackUser" [selectable]="selectable" [removable]="removable" (removed)="removeInfoTrackUser()">
          {{infoTrackUser.firstName}} {{infoTrackUser.lastName}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input #focusField placeholder="Select User" [matChipInputFor]="infoTrackUserchips" matInput [matAutocomplete]="autoInfoTrackUser"
          formControlName="userNameFormControl">
        <mat-error *ngIf="selfReportForm.get('userNameFormControl').hasError('required')">
          User name is required
        </mat-error>
        <mat-autocomplete #autoInfoTrackUser="matAutocomplete">
          <mat-option *ngFor="let cc of infoTrackUsers" [value]="cc.userId" (onSelectionChange)="addInfoTrackUser($event)">
            {{ cc.firstName }} {{ cc.lastName }}
          </mat-option>
        </mat-autocomplete>
      </mat-chip-list>
    </mat-form-field>

    &nbsp;&nbsp;
    <button mat-raised-button color="accent" class="text-upper" (click)="addUpdateUser()">
      <mat-icon>person_add</mat-icon>
    </button>

  </form>
  <table *ngIf="reportStatus == 'edit'" class="qstnTable">
    <tr>
      <td>
        <p class="alreadyReportedlabel">The user's previous response has not been reviewed by an admin. You may edit user's answers below and submit again.
        </p>
      </td>
    </tr>
  </table>

  <table *ngIf="reportStatus == 'addendum'" class="qstnTable">
    <tr>
      <td>
        <p class="alreadyReportedlabel">User's previous response has been reviewed and approved by admin. You may not be able to edit user's answers.
        </p>
      </td>
    </tr>
  </table>

  <div *ngFor="let qstn of questions">
    <table *ngIf="reportStatus != 'addendum'" class="qstnTable">
      <tr>
        <td class="qstnlabelfield">
          {{qstn.question}}
        </td>
      </tr>
      <tr>
        <td>
          <button class='NoButton' (click)="selectAnswer(qstn.questionId,'no')" mat-stroked-button>
            <mat-icon *ngIf='qstn.noSelected'>check</mat-icon>&nbsp;&nbsp;No</button>
        </td>
      </tr>
      <tr>
        <td>
          <button class='YesButton' (click)="selectAnswer(qstn.questionId,'yes')" mat-stroked-button>
            <mat-icon *ngIf='qstn.yesSelected'>check</mat-icon>&nbsp;&nbsp;Yes</button>
        </td>
      </tr>
      <tr>
        <br/>
      </tr>
    </table>

  </div>

  <div>
    <br/>
  </div>

  <div class="button-row">
    <div fxLayout="row">
      <button mat-raised-button class="text-upper" (click)="cancelSelfReport()">
        Cancel
      </button>
      &nbsp; &nbsp;

      <span *ngIf='!showSubmitSpinner'>
        <button *ngIf="reportStatus == 'submit'" [disabled]="!isReadyToSubmit" mat-raised-button color="accent" class="text-upper"
          (click)="openConfirmationDialogReportForOther('submit')">
          Submit
          <mat-icon>check_circle_outline</mat-icon>
        </button>
      </span>
      <mat-spinner *ngIf='showSubmitSpinner' diameter='40'></mat-spinner>
      <span *ngIf='showSubmitSpinner'>Processing...</span>
      &nbsp; &nbsp;

      <span *ngIf='!showEditSpinner'>
        <button *ngIf="reportStatus == 'edit'" [disabled]="!isReadyToSubmit" mat-raised-button color="accent" class="text-upper"
          (click)="openConfirmationDialogReportForOther('edit')">
          Edit
          <mat-icon>edit</mat-icon>
        </button>
      </span>
      <mat-spinner *ngIf='showEditSpinner' diameter='40'></mat-spinner>
      <span *ngIf='showEditSpinner'>Processing...</span>
      &nbsp; &nbsp;

      <!-- <span *ngIf='!showAddendumSpinner'>
        <button *ngIf="reportStatus == 'addendum'" mat-raised-button color="accent" class="text-upper" (click)="submitAddendum()">
          Addendum
          <mat-icon>check_circle_outline</mat-icon>
        </button>
      </span>
      <mat-spinner *ngIf='showAddendumSpinner' diameter='40'></mat-spinner>
      <span *ngIf='showAddendumSpinner'>Processing...</span>
      &nbsp; &nbsp; -->
    </div>
  </div>
</div>