<!-- <div class="page-content">
        <span class="fill-remaining-space"></span>
        <span>
            <label class="heading-label">New eSign Case</label> &nbsp;
            <button mat-button color="primary" style="margin-left: 50px;" (click)="navigateCaseManagement()">
                Case Management
                <mat-icon>
                    reply</mat-icon>
            </button>
        </span>
        <span class="fill-remaining-space"></span>
    <mat-grid-list cols="2" rowHeight="1000">
        <mat-grid-tile>
            <div fxLayout="column">
                <mat-vertical-stepper [linear]="false" #eSignWFStepper="matVerticalStepper" [selectedIndex]="ui_ctrl.stepperIndex">
                    <mat-step>
                        <ng-template matStepLabel>Tax Category Information</ng-template>
                        <app-step1panel></app-step1panel>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Upload Tax Document</ng-template>
                        <app-step2panel></app-step2panel>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Classification, Validation and Send for Review</ng-template>
                        <app-step3panel></app-step3panel>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Approve and Send to Client</ng-template>
                        <app-step4panel></app-step4panel>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Finalize</ng-template>
                        <app-step5panel></app-step5panel>
                    </mat-step>
                </mat-vertical-stepper>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
           
                <app-esigncase></app-esigncase>
        </mat-grid-tile>
    </mat-grid-list>
</div> -->


<div class='stepperContainer row'>
    <table style="width:100%">
       <tr>
            <td>
                <label class="heading-label">New Tax Case</label>
            </td>
            <td>
                <button mat-button color="primary" style="margin-left: 50px;" (click)="navigateCaseManagement()">
                    Case Management
                    <mat-icon>
                        reply</mat-icon>
                </button>
            </td>
        </tr>
    </table>
    <mat-vertical-stepper [linear]="false" #eSignWFStepper="matVerticalStepper" [selectedIndex]="ui_ctrl.stepperIndex">
        <mat-step>
            <ng-template matStepLabel>Tax Category Information</ng-template>
            <app-step1panel></app-step1panel>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Upload Tax Document</ng-template>
            <app-step2panel></app-step2panel>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Classification, Validation and Send for Review</ng-template>
            <app-step3panel></app-step3panel>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Approve and Send to Client</ng-template>
            <app-step4panel></app-step4panel>
        </mat-step>
        <!-- <mat-step>
            <ng-template matStepLabel>Finalize</ng-template>
            <app-step5panel></app-step5panel>
        </mat-step> -->
    </mat-vertical-stepper>
</div>
<div class='caseinfo row'>
    <app-esigncase></app-esigncase>
</div> 