.casefield {
    padding-left:15px;
    width: 98%
  }
  
  .casefield > * {
    width: 98%
  }
  .container{
    float: left;
    width: 98%; 
  } 
  .stepperContainer{
    padding-right: 2px;
    padding-left:2px;
    padding-top:2px;
    padding-bottom: 2px;
    margin-top: 2px;
    width: 40%; 
    float: left;
    direction: ltr;
  } 

  .caseinfo {
    float: left;
    padding-right: 10px;
    padding-left:10px;
    padding-top:10px;
    margin-top: 14px;
    min-width: 54%;
    flex: 1;
    min-height:480px;
    font-size: 16px;
    text-align: left;
    direction: ltr;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-right:2px;
    margin-left:2px;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
}
.fileinputfiled{
    width:60%;
}
.row{
    white-space: nowrap;
}
.heading-label {
  margin-left:10px;
  color: #03a9f4;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 25px;
  line-height: 48px;
}
