<!--
  Generated template for the EsignagreementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div *ngIf="viewType == 'Security'" class="casedoc">
  <table width=90%>
    <tr>
      <td align=center width="100%">
        <p>
          <strong>Identity Verification</strong>
        </p>
        <!-- <hr> -->
      </td>
    </tr>
    <tr>
      <td align=center width="100%">
        <h5>{{signer.firstName}} {{signer.lastName}}</h5>
        <td>
    </tr>
    <tr>
      <td align=center>
        <div style='width:80%; word-break:break-all;white-space:normal !important;'>
          <font color='warning' size=-1>
            <i>Tax authorities requires us to verify your identity prior to accepting your signature,
              <br> please answer the following question(s)</i>
          </font>
        </div>
      </td>
      <td></td>
    </tr>
  </table>
  <br>
  <table width=100%>
    <tr>
      <td align=right width=40%>
        <span *ngIf="cliIdQuestion1" class='casecard'>
          {{cliIdQuestion1.question}} &nbsp;
        </span>
      </td>
      <td align=left width=30%>
        <mat-form-field *ngIf="cliIdQuestion1" class="questionfield">
          <input matInput placeholder="Answer here" [(ngModel)]="cliIdAnswer1">
        </mat-form-field>
      </td>
      <td align=left width=30%>
        <label *ngIf="message1" style="color: orangered">{{message1}}</label>
      </td>
    </tr>
    <tr>
      <td align=right>
        <span *ngIf="cliIdQuestion2" class='casecard'>
          {{cliIdQuestion2.question}} &nbsp;
        </span>
      </td>
      <td align=left>
        <mat-form-field *ngIf="cliIdQuestion2" class="questionfield">
          <input matInput placeholder="Answer here" [(ngModel)]="cliIdAnswer2">
        </mat-form-field>
      </td>
      <td align=left>
        <label *ngIf="message2" style="color: orangered">{{message2}}</label>
      </td>
    </tr>
    <tr>
      <td align=right>
        <span *ngIf="cliIdQuestion3" class='casecard'>
          {{cliIdQuestion3.question}} &nbsp;
        </span>
      </td>
      <td align=left>
        <mat-form-field *ngIf="cliIdQuestion3" class="questionfield">
          <input matInput placeholder="Answer here" [(ngModel)]="cliIdAnswer3">
        </mat-form-field>
      </td>
      <td align=left>
        <label *ngIf="message3" style="color: orangered">{{message3}}</label>
      </td>
    </tr>
    <br>
    <tr>
      <td align=right width=45%>
        <button mat-raised-button color="accent" class="text-upper" (click)="validateAnswer()">
          Submit
        </button>
        &nbsp;
        <button mat-raised-button class="text-upper" color="accent" (click)="switchToGrid.emit({view:'grid'})">Cancel</button>
      </td>
    </tr>
  </table>
</div>

<div class="consent" *ngIf="viewType=='Agreement'" style="word-break:break-word;white-space:normal !important;">
  <table width=80%>
    <tr>
      <td>
        <h4>ESign Agreement</h4>
      </td>
      <td>
        <button mat-icon-button color="primary" (click)="switchToGrid.emit({view:'grid'})">
          Back
          <mat-icon>
            reply</mat-icon>
        </button>
      </td>
    </tr>
  </table>
  <hr>
  <p>
    <b>This E-Sign Disclosure and Consent Notice (&quot;Notice&quot;) applies to all communications, as defined below, for services
      provided by Western Union Financial Services, Inc. and our affiliates (&quot;Western Union&quot; or &quot;We&quot;).
      Under this Notice, communications you receive in electronic form from us will be considered &quot;in writing.&quot;</b>
  </p>
  <p>
    <b>By using Western Union electronic and online services (&quot;Electronic Services&quot;) you hereby consent to this Notice
      and affirm that you have access to the hardware and software requirements identified below. In addition, you must review
      and accept the terms of these services. If you choose not to consent to this Notice or you withdraw your consent, you
      will be restricted from using Electronic Services.</b>
  </p>
  <p>
    <b>COVERED COMMUNICATIONS</b>
  </p>
  <p>May include, but are not limited to, disclosures and communications we provide to you regarding our services such as: (i)
    terms and conditions, privacy statement or notices and any changes thereto; (ii) pre-payment disclosures, transaction
    receipts and confirmations; and (iii) customer service communications (such as claims of error communications) (&quot;Communications&quot;).</p>
  <p>
    <b>METHODS OF PROVIDING COMMUNICATIONS</b>
  </p>
  <p>We may provide Communications to you by email or by making them accessible on the Western Union websites, mobile applications,
    or mobile websites (including via &quot;hyperlinks&quot; provided online and in e-mails). Communications will be provided
    online and viewable using browser software or PDF files. For transactions conducted at Western Union kiosks, Communications
    may be provided at kiosks. In such cases, you will be able to print the Communication and/or have it e-mailed to you.</p>
  <p>
    <b>HARDWARE AND SOFTWARE REQUIREMENTS</b>
  </p>
  <p>To access and retain electronic Communications, you must have:</p>
  <ul>
    <li>A valid email address;</li>
    <li>A computer, mobile, tablet or similar device with internet access and current browser software and computer software
      that is capable of receiving, accessing, displaying, and either printing or storing Communications received from us
      in electronic form;</li>
    <li>Sufficient storage space to save Communications (whether presented online, in e-mails or PDF) or the ability to print
      Communications.</li>
  </ul>
  <p>We may request that you respond to an email to demonstrate you are able to receive these Communications.</p>
  <p>
    <b>HOW TO WITHDRAW YOUR CONSENT</b>
  </p>
  <p>You may withdraw your consent to receive Communications under this Notice by writing to us at &quot;Attn: E-Sign Disclosure
    and Consent Notice, PO Box 6036, Englewood, CO USA 80155,&quot; or by contacting us via the &quot;Contact Us&quot; link
    at&nbsp;
    <a href="http://www.westernunion.com/">westernunion.com</a>. Your withdrawal of consent will cancel your agreement to receive electronic Communications, and
    therefore, your ability to use our Electronic Services.</p>
  <p>
    <b>REQUESTING PAPER COPIES OF ELECTRONIC COMMUNICATIONS</b>
  </p>
  <p>You may request a paper copy of any Communications; we will mail you a copy via U.S. Mail. To request a paper copy, contact
    us by writing to &quot;Attn: E-Sign Disclosure and Consent Notice, PO Box 6036, Englewood, CO USA 80155,&quot; or by
    contacting us via the &quot;Contact Us&quot; link at&nbsp;
    <a href="http://www.westernunion.com/">westernunion.com</a>. Please provide your current mailing address so we can process this request. Western Union may charge
    you a reasonable fee for this service.</p>
  <p>
    <b>UPDATING YOUR CONTACT INFORMATION</b>
  </p>
  <p>
    <b>It is your responsibility to keep your primary email address current so that Western Union can communicate with you electronically</b>.
    You understand and agree that if Western Union sends you a Communication but you do not receive it because your primary
    email address on file is incorrect, out of date, blocked by your service provider, or you are otherwise unable to receive
    electronic Communications, Western Union will be deemed to have provided the Communication to you; however, we may deem
    your account inactive. You may not be able to transact using our Online Services until we receive a valid, working primary
    email address from you.</p>
  <p>If you use a spam filter or similar software that blocks or re-routes emails from senders not listed in your email address
    book, we recommend that you add Western Union to your email address book so that you can receive Communications by e-mail.</p>
  <p>You can update your primary email address or other information by writing to us at &quot;Attn: E-Sign Disclosure and Consent
    Notice, PO Box 6036, Englewood, CO USA 80155,&quot; or by contacting us via the &quot;Contact Us&quot; link at&nbsp;
    <a
      href="http://www.westernunion.com/">westernunion.com</a>.</p>
  <p>
    <b>FEDERAL LAW</b>
  </p>
  <p>You acknowledge and agree that your consent to electronic Communications is being provided in connection with a transaction
    affecting interstate commerce that is subject to the federal Electronic Signatures in Global and National Commerce Act,
    and that you and we both intend that the Act apply to the fullest extent possible to validate our ability to conduct
    business with you by electronic means.</p>
  <p>
    <b>TERMINATION/CHANGES</b>
  </p>
  <p>We reserve the right, in our sole discretion, to discontinue the provision of your Communications, or to terminate or change
    the terms and conditions on which we provide Communications. We will provide you with notice of any such termination
    or change as required by law.</p>
  <p>
    <br>
    <br>
  </p>
  <button mat-raised-button color="accent" class="text-upper" (click)="completeConsent()">I Concur</button> &nbsp;&nbsp;
  <button mat-raised-button color="accent" class="text-upper" (click)="switchToGrid.emit({view:'grid'})">I Disagree</button>
</div>
<div *ngIf="viewType == 'paperagreement'" class="casedoc">
  <table width=98%>
    <tr>
      <td align="center">
        <p>
          <strong>Sign form with pen on paper</strong>
        </p>
        <hr>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          <b>You can print the document, sign, and either take photos and upload via mobile or scan and upload the document
            <br/>via web app when you are ready to begin the e-sign process.</b>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          Check the checkbox indicating your consent to print, sign and upload the document and click “BEGIN”
          <br/> when you are ready to begin the upload process.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <mat-checkbox (change)="selected=!selected">I have read and agree to the above.</mat-checkbox>
      </td>
    </tr>
    <br/>
    <tr>
      <td align="center">
        <!-- <a routerLink="/" style="color: black" *ngIf="selected"> -->
        <button mat-raised-button color="accent" *ngIf="selected" (click)="completeConsent()">Begin</button>
        &nbsp;&nbsp;
        <button mat-raised-button color="accent" (click)="switchToGrid.emit({view:'grid'})">Cancel</button>
      </td>
    </tr>
  </table>
</div>