<span>
  <label class="heading-label">{{ title }}</label>
  <button mat-icon-button color="warn" style="margin-left:90%" (click)="cancelPopup()">
    <mat-icon style="font-size: 40px;">clear</mat-icon>
  </button>
</span>
<div fxLayout="column">
  <div class="invgridColumn">
    <form [formGroup]="signerForm">

      <mat-form-field class="appfield" appearance="outline">

          <mat-label>Search for a Signer</mat-label>          
          <input matInput  type="text" #focusField [matChipInputFor]="primarychips"  
          [matAutocomplete]="autoprimary" formControlName="receiverNameControl" 
          [(ngModel)]="receiverNameInput" required>
          <mat-error *ngIf="signerForm.get('receiverNameControl').hasError('required')">
              Signer name is required
            </mat-error>

        <mat-chip-list #primarychips>
          <mat-chip *ngIf="primarysigner" [selectable]="selectable" [removable]="removable" (removed)="removeSinger()">
            {{primarysigner.firstName}} {{primarysigner.lastName}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
           
          
          <mat-autocomplete #autoprimary="matAutocomplete">
            <mat-option *ngFor="let cc of clients" [value]="cc.clientId" (onSelectionChange)="addPrimary($event)">
              {{ cc.firstName }} {{ cc.lastName }}
            </mat-option>
          </mat-autocomplete>
        </mat-chip-list>
      </mat-form-field>
     
      <br/>
      <mat-form-field class="appfield" appearance="outline">
        <mat-label>Select field type</mat-label>
        <mat-select required [(value)]="fieldType" (selectionChange)="selectFieldType($event)" 
        formControlName="fieldTypeControl">
        <mat-option value="initial">Initial</mat-option>
        <mat-option value="date">Date</mat-option>
        <mat-option value="signature">Signature</mat-option>
        <mat-option value="text">Text</mat-option> 
      </mat-select>
        <mat-error *ngIf="signerForm.get('fieldTypeControl').hasError('required')">
          Field Type is required
        </mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field class="appfield" appearance="outline">
        <mat-label>Field description</mat-label>
        <input required matInput [(ngModel)]="fieldDesc" formControlName="fieldDescControl">
        <mat-error *ngIf="signerForm.get('fieldDescControl').hasError('required')">
          Field Description is required
        </mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field class="appfield" appearance="outline" readonly>
        <mat-label>Receiver email address</mat-label>
        <input matInput [(ngModel)]="receiverEmailId" formControlName="receiverEmailIdControl">
      </mat-form-field>
    </form>
    <div>
      <br/>
    </div>
    <div class="button-row">
      <div fxLayout="row">
        <button mat-raised-button class="text-upper" (click)="cancelPopup()">
          Cancel
        </button>
        &nbsp; &nbsp;

        <span *ngIf='!showEditFieldSpinner'>
          <button *ngIf='operation =="editfield"' [disabled]="signerForm.invalid" mat-raised-button color="accent" class="text-upper"
            (click)="updateFieldData()">
            Update
            <mat-icon>loop</mat-icon>
          </button>
        </span>
        <mat-spinner *ngIf='showEditFieldSpinner' diameter='40'></mat-spinner>
        <span *ngIf='showEditFieldSpinner'>Processing...</span>

        &nbsp; &nbsp;

        <span *ngIf='!showAddFieldSpinner'>
          <button *ngIf='operation !="editfield"' [disabled]="signerForm.invalid" mat-raised-button color="accent" class="text-upper"
            (click)="addFieldData()">
            SAVE
            <mat-icon>play_circle_outline</mat-icon>
          </button>
        </span>
        <mat-spinner *ngIf='showAddFieldSpinner' diameter='40'></mat-spinner>
        <span *ngIf='showAddFieldSpinner'>Processing...</span>
      </div>
    </div>
  </div>
</div>