<div class="container">
    <table width=100%>
        <tr>
            <h6>Client Identity Verification Answer</h6>
        </tr>
        <tr>
            <mat-form-field class='inputfield'>
                <input matInput placeholder='Question' [(ngModel)]="identityQuestion" disabled="true">
            </mat-form-field>
        </tr>
        <tr>
            <span>
                <mat-form-field class='inputfield'>
                    <input matInput placeholder='Answer' [(ngModel)]="identityAnswer" matTooltip="Please input answer for this client" matTooltipClass="help-tooltip-red">
                </mat-form-field>
            </span>
        </tr>      
        <br>
        <tr>
            <span>
                <button mat-raised-button color="accent" class="text-upper" (click)='saveQuestion()'>Save</button>
                <button mat-raised-button color="accent" class="text-upper" (click)='closeme()'>Cancel</button>
            </span>
        </tr>
    </table>
</div>