<table>
    <tr>
        <th>
            <label class="heading-label">Income & Expense Tracker</label>
        </th>
    </tr>
</table>
<div>
        <mat-spinner *ngIf='!isIETDataFetched' diameter='20'></mat-spinner>
        <span *ngIf='!isIETDataFetched'>Processing...</span> 
</div>
<table class="trackertable4" *ngIf='isIETDataFetched'>
    <tr align="left">
        <td colspan="12">
            <button mat-raised-button color="accent" matTooltip="Create new company" (click)="setupNewCompany()">
                <mat-icon>control_point</mat-icon>&nbsp;ADD COMPANY
            </button>
            <!-- &nbsp;
            <button mat-raised-button color="accent" matTooltip="Create new account type" (click)="setupNewAccountType()">
                + NEW ACCOUNT TYPE
            </button> -->
        </td>
    </tr>
</table>
<div *ngIf='!hasCompanies && !setupNewCmpny && isIETDataFetched'>
    <table class="trackertable">
        <tr>
            <td>
                <mat-label>
                    Keep track of all your income and expenses here by dropping receipts
                    <br/> or invoice files and inputting relevant information.
                    <br/> You can even collaborate with your colleagues and accountant.
                    <br/> Everything that happens here is also synced to your mobile app
                </mat-label>
            </td>
            <td>
                <mat-icon class="iconcss">attach_file</mat-icon>
            </td>
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <td>
                <mat-label>
                    You currently do not have any company associated with this account.
                    <br/> You may add one by clicking the
                    <b>+</b> icon.
                </mat-label>
            </td>
        </tr>
    </table>
</div>

<mat-table *ngIf='hasCompanies && !setupNewCmpny && isIETDataFetched' [dataSource]="companies" class="mat-elevation-z8">
    <ng-container matColumnDef="companyName">
        <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"> Company </mat-header-cell>
        <mat-cell *matCellDef="let element" style="font-weight: bold;color:black"> {{element.companyName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="companyOwner">
        <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"> Holder </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.companyOwner}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastUpdate">
        <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"> Last Login </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastUpdate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="sharedUsers">
        <mat-header-cell *matHeaderCellDef 
        style="font-size: 20px;font-weight: bold;color:#999;"> Shared With </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
                    <div style="white-space: pre-line">
                      <label style="color:#004d00;;font-weight: bold">  {{element.sharedUsers}} </label>
                    </div>    
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="addReceipt">
        <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"> Receipt </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-icon-button matTooltip="Add Receipt" (click)="addReceipt(row.companyTypeId,row.companyId)">
                <mat-icon style="color:#004d00;font-weight: bold">attach_file</mat-icon>
                <label style="color:#004d00;;font-weight: bold">Add</label></button>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="viewReport">
        <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"> Report </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-icon-button matTooltip="View Report" (click)="viewReport(row.companyTypeId,
                                row.companyId,row.companyName, row.includeAccountNumber)">
                <mat-icon style="color:#004d00;font-weight: bold">insert_chart_outlined</mat-icon>
                <label style="color:#004d00;;font-weight: bold">View</label></button>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="settings">
        <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999"> Settings </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-icon-button matTooltip="Edit Company" *ngIf='row.hasSettingsAccess !="N"' (click)="editCompany(row)">
                <mat-icon>settings</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef style="font-size: 20px;font-weight: bold;color:#999">Delete </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-icon-button matTooltip="Delete Company" *ngIf='row.hasSettingsAccess !="N"' (click)="openConfirmationDialogforCompanyDeletion(row.companyId)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: white"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>


<!-- <div *ngFor="let clientCompany of companies">
    <br/>
    <table class="trackertable3">
        <tr align="center">
            <td>
               <b>
                    {{ clientCompany.companyName }}
               </b>
            </td>
            <td>
                {{ clientCompany.companyOwner}}
            </td>
            <td>

                {{ clientCompany.sharedUsers }}
            </td>
            <td>
                {{ clientCompany.lastUpdate }}
            </td>
      
            <td>
                <button mat-raised-button matTooltip="Add Receipt" (click)="addReceipt(clientCompany.companyTypeId,clientCompany.companyId)">
                    <mat-icon>attach_file</mat-icon>&nbsp;Add</button>
            </td>
            <td>
                <button mat-raised-button matTooltip="View Report" (click)="viewReport(clientCompany.companyTypeId,
                    clientCompany.companyId,clientCompany.companyName, clientCompany.includeAccountNumber)">
                    <mat-icon>insert_chart_outlined</mat-icon>&nbsp;View</button>
            </td>
            <td>
                <button mat-icon-button matTooltip="Edit Company" *ngIf='clientCompany.hasSettingsAccess !="N"' (click)="editCompany(clientCompany)">
                    <mat-icon>settings</mat-icon>
                </button>
            </td>
            <td>
                <button mat-icon-button matTooltip="Delete Company" *ngIf='clientCompany.hasSettingsAccess !="N"' (click)="openConfirmationDialogforCompanyDeletion(clientCompany.companyId)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</div> -->