  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center" *ngIf='!isImageDataUrlFetched'>
    <div fxFlex>
      <mat-toolbar color="primary">
        <div *ngIf="selection.selected.length > 0; then contactSelected else none"></div>
        <ng-template #none>
          Signers EZSign Status
        </ng-template>
        <span class="fill-remaining"></span>
        <!-- <form [formGroup]="signerSearchForm" style="margin: 15px;">
         
          <div class="search-wrapper mx-32 mx-md-0">
           
            <div class="search">
              <mat-icon>search</mat-icon>
           
              <mat-form-field>
                <mat-chip-list #primarychips placeholder="Search for a signer">
                  <mat-chip *ngIf="primarysigner" [selectable]="selectable" [removable]="removable" (removed)="removeSinger('primary')">
                    {{primarysigner.firstName}} {{primarysigner.lastName}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input type="text" class="search" placeholder="Search for a signer" [matChipInputFor]="primarychips" matInput [matAutocomplete]="autoprimary"
                    formControlName="clientctrl">
                  <mat-autocomplete #autoprimary="matAutocomplete">
                    <mat-option *ngFor="let cc of clients" [value]="cc.clientId" (onSelectionChange)="addPrimary($event)">
                      {{ cc.firstName }} {{ cc.lastName }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-chip-list>
              </mat-form-field>
            </div>
          </div>
        </form>
       
        <span *ngIf='!showProcessSpinner'>
          <button [disabled]="!primarysigner && 
          (status == 'Sent to recipient' || status == 'Signed' || status == 'Inprogress') " mat-raised-button color="accent" 
          class="text-upper" (click)="addNewSigner()">
            <span> ADD SIGNER </span>
          </button>
        </span>
        <mat-spinner *ngIf='showProcessSpinner' diameter='40'></mat-spinner>
        <span *ngIf='showProcessSpinner'>Processing...</span> -->
       
      </mat-toolbar>
      <div>
        <br>
      </div>
      <div *ngIf="contactsDataSource" class="example-container mat-elevation-z8" style="margin-bottom: 50px">
        <mat-table #table [dataSource]="contactsDataSource" matSort>

          <ng-container matColumnDef="receiverSeqNo">
            <mat-header-cell *matHeaderCellDef>Signer Sequence</mat-header-cell>
            <mat-cell *matCellDef="let element"> Signer {{element.signerSequenceNo}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="receiverFullName">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <div *ngIf="element.photoURL; then image else avatar"></div>                -->
              <span>{{element.receiverFullName}}</span>
              <!-- </div> -->
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="receiverEmailId">
            <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.receiverEmailId}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> eZSign Status</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.status}}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>Signer is Sender</mat-header-cell>
            <mat-cell *matCellDef="let row" class="cell-shrink-checkbox">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <!--More Options Column-->
          <!-- <ng-container *ngIf="!readonly" matColumnDef="more">
            <mat-header-cell *matHeaderCellDef class="cell-shrink-more">
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="cell-shrink-more" (click)="$event.stopPropagation()">
              <button mat-icon-button [matMenuTriggerFor]="posXMenu" class="mat-24" aria-label="Open x-positioned menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu xPosition="before" #posXMenu="matMenu">
                <button [disabled]="(status == 'Sent to recipient' || status == 'Signed' 
                || status == 'Inprogress')" mat-menu-item [disabled]="false" (click)="deleteSigner(element)">
                  <mat-icon>delete</mat-icon>
                  remove
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container> -->

          <mat-header-row *matHeaderRowDef="contactsDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: contactsDisplayedColumns; matRipple" (click)="select(row)">
          </mat-row>
        </mat-table>
      </div>

      <div *ngIf="!contactsDataSource" style="margin-bottom: 50px">
        <label class="heading-label">No signers added, please search using name of all the signers that need to sign this document.</label>
      </div>
      <div>
          <button mat-raised-button color="accent" class="text-upper" (click)="proceed()">
            OK
          </button>
          <!-- &nbsp;
          <button mat-raised-button color="accent" class="text-upper" (click)="closeMe()">
            CANCEL
          </button> -->
        </div>
    </div>   
  </div>
<mat-spinner *ngIf='isImageDataUrlFetched' diameter='40'></mat-spinner>
<span *ngIf='isImageDataUrlFetched'>Processing...</span>