<table>
  <tr>
    <th>
      <label class="heading-label">Archived Tax Cases</label>
    </th>
  </tr>
</table>
<div>
    <mat-spinner *ngIf='!isArchiveCasesLoaded' diameter='40'></mat-spinner>
    <span *ngIf='!isArchiveCasesLoaded'>Processing...</span> 
</div>
<div style="margin-left: 1px;margin-right: 1px" *ngIf='isArchiveCasesLoaded'>
<table width=99%>
  <tr>
    <td align=left>
    </td>
    <td align=right>
      <mat-icon class='docicon' matTooltip="Config Columns" mdbRippleRadius (click)='openColumnConfig(archivedcasesapi)'>list_alt</mat-icon>
      <mat-icon class='docicon' matTooltip="Export CSV" mdbRippleRadius (click)="gridExport('archivedcases')">insert_link</mat-icon>
      <mat-icon class='docicon' matTooltip="Expand All" mdbRippleRadius (click)="resizeAll('archivedcases')">swap_horiz</mat-icon>
      <mat-icon class='docicon' matTooltip="Refit" mdbRippleRadius (click)="fitsizeAll('archivedcases')">tune</mat-icon>
    </td>
  </tr>
</table>
<ag-grid-angular #agGridArchivedCases style="width: 98%; height: 740px; font-size:11pt" class="ag-theme-balham" [rowData]="archivedcasesgridData"
  [enableSorting]="true" [statusBar]="statusBar" [enableFilter]="true" [columnDefs]="gridColumnDefs" [enableColResize]="true"
  [frameworkComponents]="frameworkComponents" [context]="context" [pagination]="true" [paginationPageSize]="50" (firstDataRendered)="onFirstDataRendered($event,'archivedcases')"
  [domLayout]="autoHeight"  [overlayNoRowsTemplate]="overlayNoRowsTemplate" 
  (gridReady)="onGridReady($event)"></ag-grid-angular>
</div>
<router-outlet></router-outlet>