.trackertable4 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:20px;
    padding-right:15px;
    max-width: 1200px;
    width: 100%;
  }

.row{
    white-space: nowrap;
    float: right
}

.history{
    margin: .8em;
    width: 98%;
}
//    .docicon{
//        width:30px;
//        float:right;
//      }

    .docicon:hover {
        background-color: #ccccff;
      }

.historyrow:hover{
    background-color: #ccffcc;
}

.searchcase {
    width: 240pt;
}
.remindericon{
    margin-left: 25px; /* optional */   
}
.docicon{
    margin-right:25px; /* optional */
    direction: ltr;
}

.caselink {
    font-size:15pt;
    color: green;
    text-decoration: underline
}

.heading-label {
    color: #03a9f4;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 25px;
    line-height: 48px;
  }
  