::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

.mat-icon {
  font-size: 35px;
}
.row{
    white-space: nowrap;
    float: right
}

.history{
    margin: .8em;
    width: 98%;
}


    // .docicon{
    //     width:20px;
    //     float:right;
    //   }

    .docicon:hover {
        background-color: #ccccff;
      }

.historyrow:hover{
    background-color: #ccffcc;
}

.searchcase {
    width: 240pt;
}
.remindericon{
    margin-left: 25px; /* optional */   
}
.docicon{
  font-size: 30px;
  margin-right:25px; /* optional */
  direction: ltr;
}

.trackertable {
    margin-top: 20px;
    padding-top: 25px;
    padding-left:25px;
    padding-bottom: 25px;
    padding-right: 25px;
    max-width: 1200px;
    width: 100%;
  border: 1px solid #ddd;
  background-color:white;
  }
  .iconcss {
    font-size: 45px;
  }
  .heading-label {
    margin-left:10px;
    color: #03a9f4;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 25px;
    line-height: 48px;
  }

  .trackertable2 {
    margin-top: 20px;
    margin-left: 420px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:30px;
    max-width: 600px;
    width: 100%;
  border: 1px solid #ddd;
  }

  .trackertable3 {
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left:15px;
    padding-right:15px;
    max-width: 1290px;
    width: 100%;
    background-color:white;
  border: 1px solid #ddd;
  }

  .casefield {
    padding-left:15px;
    width: 90%
  }
  
  .casefield > * {
    width: 90%
  }


  .uploadfilecontainer {
    background-image: url("../../../../assets/imgs/cloud-2044823_960_720.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 200px;
    width: 80%;
    margin: 20px auto;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
  }

  
  .uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
  }
  
  .files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    // margin: 10px auto;
    margin: 20px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
  }
  
  .files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .files-list .delete-file img{
    width:30px;
  }

  .uploadbtn {
    margin-left: 30%;
  }

  .heading-label {
    margin-left:10px;
    color: #03a9f4;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 25px;
    line-height: 48px;
  }

 .ezsign-history-grid {
    background-color: Blue;
  }