.container{
    margin-left: 1200px;
    float: left;
    width: 98%; 
  } 

  .casefield {
    padding-left:15px;
    width: 90%
  }
  
  .casefield > * {
    width: 90%
  }
 
  .trackertable {
    margin-top: 10px;
    margin-left: 10px;
    padding-left:10px;
    padding-right:10px;
    max-width: 700px;
    width: 100%;
  //border: 1px solid #ddd;
  }
  .trackertable2 {
    margin-left: 20px;
    padding-left:15px;    
  }
  .casefield {
    padding-left:15px;
    padding-bottom: 5px;
    width: 90%
  }
  
  .casefield > * {
    width: 90%
  }
  
  .trackertable2 {
    margin-top: 10px;
    margin-left: 10px;
    padding-left:10px;
    padding-right:10px;
    max-width: 700px;
    width: 100%;
     }
  
    .trackertable {
      margin-left: 20px;
      padding-left:15px;    
    }
  
    .heading-label {
      margin-left:40%;
      color: #03a9f4;
      font-size: 20px;
      line-height: 28px;
    }
  
    .fill-remaining-space {
      /* This fills the remaining space, by using flexbox. 
         Every toolbar row uses a flexbox row layout. */
      flex: 1 1 auto;
      background: white;
    }
    
    form.normal-form{
      margin: 10px;
  }
  
  .invgridColumn{
      //display:inline-block;
      margin: 1%;    
    //  border-radius: 25px;
    //  border: 1px solid #D3D3D3;
      padding: 5%;
  }
  
          div.container{
              margin: 0px 40px;
          }
  
    .appfield {
    width: 95%;
  }
  
    .appfield > * {
      width: 100%;
      }
  
  
      .button-row{
        margin-left:30%;
      }

      .appfield2 {
        width: 40%;
      }
      
        .appfield2 > * {
          width: 40%;
          }
                  
          .uploadfilecontainer:hover {
            cursor: pointer;
            background-color: #9ecbec !important;
            opacity: 0.8;
          }
          
          .files-list {
            display: flex;
            justify-content: space-between;           
            margin-left: 10px;
            width: 55%;
            background: #ffffff;
            // border: 1px dashed;
            //border-radius: 12px;
            //padding: 1px;
            color: #1c8adb;
          }
          
          .files-list .delete-file {
            background: transparent;
            border: none;
            cursor: pointer;
          }
          .files-list .delete-file img{
            width:25px;
          }
          .heading-label2 {
            margin-left:5px;
            margin-bottom: 1rem;
            margin-top: 1rem;
            width: 18%;           
          }

          .NoButton {
            margin-left: 15px;
            width: 90%;
            height: 40px;
            background-color: green;
            color: #e0e0e0;
            font-size: 24px;
            padding:0 !important;
            cursor: pointer;
            position: relative;
          }

          .YesButton {
             margin-left: 15px;
             width: 90%;
             height: 40px;
             background-color: #DE2A2A;
             color: #e0e0e0;
             font-size: 24px;
             padding:0 !important;
             cursor: pointer;
             position: relative;
           }
               
          .NoButton.selected:hover {
           // background-color: #BBD8DC !important;
            color: white;
            font-size: 24px;
          }
          .NoButton:hover {
            color: white;
           // background-color: #eeffee;
           // left: .1em;
            font-size: 24px;
          }

          .YeButton.selected:hover {
            // background-color: #BBD8DC !important;
             color: white;
             font-size: 24px;
           }
           .YesButton:hover {
             color: white;
            // background-color: #eeffee;
            // left: .1em;
             font-size: 24px;
           }

           .cardlbl{
           // float: right;
           // right:100px !important;
           // margin-top: 8px;
            
          }

          .qstnTable {
            margin-left: 15px;
          }
          .qstnlabelfield {
            font-size: 18px;
            font-weight: bold;
          }
          .labelfield {
            padding-left:15px;
            font-size: 18px;
            vertical-align:middle;
          }
          .alreadyReportedlabel {
            font-size: 18px;
            font-weight: bold;
            color:orange;
          }