<section>
  <article>
    <mat-card *ngIf="!show2faVerifyWindow">
      <mat-card-content class="text-center">
        <div class="img-container">
          <div routerLink="/">
            <img src="/assets/logo/Logo_simple.png" class="img-logo"> Everleagues
          </div>
        </div>
        <div class="warn-color" *ngIf="showError">{{ errorMsg }}</div>
        <div class="success-color push-bottom-md" *ngIf="showSuccess">{{ successMsg }}</div>
        <form class="push-top-sm" (keydown)="keyDownFunction($event)">
          <mat-form-field fxFlexFill>
            <input matInput placeholder="Email" #loginInput [(ngModel)]="email" name="email">
          </mat-form-field>
          <div class="push-top-sm">
            <mat-form-field fxFlexFill>
              <input matInput placeholder="Password" type="password" #passwordInput [(ngModel)]="password"
                name="password">
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" class="push-top-sm" (click)="login($event)"
            [disabled]="showLoading">
            <span *ngIf="showLoading">
              <i class='fa fa-spinner fa-spin '></i> Signing in...</span>
            <span *ngIf="!showLoading">Sign in</span>
          </button>
        </form>
        <div class='push-top-md'>
          <p><a routerLink="/forgot-password" class="primary-color">Forgot password?</a></p>
          <p>Don't have an account? <a routerLink="/register" class="primary-color">Sign up</a></p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-2fa" *ngIf="show2faVerifyWindow && !showEnter2faCode">
      <mat-card-content>
        <div class="warn-color" *ngIf="showError">{{ errorMsg }}</div>
        <div class="success-color push-bottom-md" *ngIf="showSuccess">{{ successMsg }}</div>
        <div class='push-top-md'>
          <p class="card-2fa-text-title">Additional Verification</p>
          <p>Since you turned on 2FA for extra security, we'll need to make sure it's you with a security code. Confirm
            where to send the security code</p>
        </div>
        <div>
          <mat-list class="list-2fa">
            <mat-list-item *ngIf="email2fa" (click)="request2FAEmail()">
              <div mat-list-icon>
                <mat-icon class="icon-color">
                  mail
                </mat-icon>
              </div>
              <span matLine>Email</span>
              <p matLine>
                <span>{{ email2fa }}</span>
              </p>
            </mat-list-item>
            <mat-list-item *ngIf="phone2fa" (click)="request2FAPhone()">
              <div mat-list-icon>
                <mat-icon class="icon-color">
                  phone
                </mat-icon>
              </div>
              <span matLine>Phone</span>
              <p matLine>
                <span>{{ phone2fa }}</span>
              </p>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-2fa" *ngIf="show2faVerifyWindow && showEnter2faCode">
      <mat-card-content>
        <div class="warn-color push-bottom-md" *ngIf="showError">{{ errorMsg }}</div>
        <div class="success-color push-bottom-md" *ngIf="showSuccess">{{ successMsg }}</div>
        <div class='push-top-md'>
          <p class="card-2fa-text-title">Enter code</p>
          <p>A 6 digit verification code was sent to {{ sentTo }}. Please enter code to proceed</p>
        </div>
        <div class='push-top-md'>
          <mat-form-field fxFlexFill>
            <input matInput placeholder="Enter verification code" #loginInput [(ngModel)]="code" name="code">
          </mat-form-field>
        </div>
        <div class='push-top-md'>
          <button mat-raised-button fxFlexFill color="primary" (click)="verify($event)" [disabled]="showLoading">
            <span *ngIf="showLoading">
              <i class='fa fa-spinner fa-spin '></i> Verifying...</span>
            <span *ngIf="!showLoading">Verify</span>
          </button>
        </div>
        <div class='push-top-md'>
          If you have not received the code or it is expired, you should <a [routerLink]=""
            (click)="requestNewCode()">request
            for a new code.</a>
        </div>
      </mat-card-content>
    </mat-card>
  </article>
</section>