 
 <div *ngIf="mycase">
    <table width=90%>
      <tr>
        <td colspan=4 align="center">
          <h4>
            {{mycase.documentName}}
          </h4>
        </td>
        <td>
          <button mat-icon-button color="primary" (click)="switchToGrid.emit()">
            Back
        <mat-icon>
          reply</mat-icon>
          </button>
        </td>
      </tr>
    <tr>
      <td valign=top>  <font color="a0a0a0" size=-1>Tracking #</font><br>
        <b>
          {{mycase.ezSignTrackingId}}
        </b>  </td>
        <td valign=top> 
          <font color="a0a0a0" size=-1>Date</font><br>
              <b>{{mycase.lastModifiedDateTime}}</b>
        </td>
        <td valign=top>                  <font color="a0a0a0" size=-1>Signers</font><br>
          <span *ngFor='let usr of mycase.ezSignDocSigners'>
          <b>
            {{usr.receiverFirstName}} {{usr.receiverLastName}}
          </b> <br>
          </span></td>
          <td valign=top>                  <font color="a0a0a0" size=-1># Pages</font><br>
            <span >
            <b><font color=green>
             total: {{mycase.eZSignDocPages.length}}
            </font>
            </b> <br>
            </span></td>
          <td valign=top> 
            <font color="a0a0a0" size=-1>Status</font><br>
            <div *ngIf='fieldsCount>0 && signedCount<fieldsCount'>
              <span> <font color=green>To be signed</font></span>
              </div>
              <div *ngIf='fieldsCount>0 && signedCount==fieldsCount'>
              <span> <font color=green>Signed</font></span>
              </div>
              <div *ngIf='fieldsCount==0'>
              <span> <font color=green>Review only</font></span>
              </div>
          </td>  
    </tr>
    <tr>
    <td>
     <button  *ngIf='fprev' mat-button color="primary" (click)='goReviewForm(fprev)'>
                                    <mat-icon>keyboard_arrow_left</mat-icon>
                            <label style="font-weight: bold">Prev</label>
     </button>
    </td>
    <td colspan=3 align=center> <label style="font-weight: bold;color:#03a9f4">PageSeq #: {{curseq}}</label></td>
    <td align="right">
       <button  *ngIf='fnext' mat-button color="primary" (click)='goReviewForm(fnext)'>
                            <label style="font-weight: bold">Next</label>
                               <mat-icon>keyboard_arrow_right</mat-icon>
     </button>
    </td>
    </tr>
    </table>
 </div>
 <div *ngIf="viewType=='reviewDoc'" class='casedoc' style="word-break:break-word;white-space:normal !important;">
       <iframe width="95%" height="640" [src]="pdfUrl | safe">
    </iframe>
  
</div>
 