<span>
  <label class="heading-label">{{ title }}</label>
  <button mat-icon-button color="warn" style="margin-left:90%" (click)="cancelPopup()">
    <mat-icon style="font-size: 40px;">clear</mat-icon>
  </button>
</span>
<div>
  <mat-spinner *ngIf='!isUsersLoaded' diameter='20'></mat-spinner>
  <span *ngIf='!isUsersLoaded'>Processing...</span>
</div>

<div fxLayout="column" *ngIf="isUsersLoaded">
    <mat-form-field class="casefield" appearance="outline">
      <mat-label>Organization Name</mat-label>
      <input matInput [(ngModel)]="orgUnitName" readonly>
    </mat-form-field>
</div>

<form [formGroup]="designatedUserForm">   
<div fxLayout="row">
  <mat-form-field class="casefield" appearance="outline">
    <mat-chip-list #desiguserschips placeholder="Designated Users">
      <mat-chip *ngFor="let selUser of selDesigUsers" [selectable]="selectable" [removable]="removable" (removed)="removeDesigUser(selUser)">
        {{ selUser.firstName }} {{selUser.lastName }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input #focusField placeholder="Designated Users" [matChipInputFor]="desiguserschips" matInput [matAutocomplete]="desiguser"
        formControlName="desigUserFormControl">
      <mat-autocomplete #desiguser="matAutocomplete">
        <mat-option *ngFor="let user of desigUsers" [value]="user.employeeId" (onSelectionChange)="addDesigUser($event)">
          {{ user.firstName }} {{user.lastName }}
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>
  </mat-form-field>
</div>
</form>
<div>
  <br/>
  <br/>
</div>
<div class="button-row">
  <div fxLayout="row">
    <button mat-raised-button class="text-upper" (click)="cancelPopup()">
      Cancel
    </button>
    &nbsp; &nbsp;

    <span *ngIf='!showUpdateUsersSpinner'>
      <button  mat-raised-button color="accent" class="text-upper"
        (click)="updateDesinatedUsers()">
        Update
        <mat-icon>loop</mat-icon>
      </button>
    </span>
    <mat-spinner *ngIf='showUpdateUsersSpinner' diameter='20'></mat-spinner>
    <span *ngIf='showUpdateUsersSpinner'>Processing...</span>
  </div>
</div>