.coverlettercontainer {
    width: 820px;
    height:540px;
}
.casefield {
    padding-left:15px;
    width: 45%
  }
.inputfield {
    float: left;
    padding-right: 5px;
    padding-bottom: 5px;
    width:22%;
    font-size: 16px;
    text-align: left;
    direction: ltr;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 2px;
}
.controls{
    display: inline-block;
    width: 95%
}