<div class='coverlettercontainer'>
  <mat-form-field class="casefield">
    <mat-select placeholder="Select Cover Letter Template" [(value)]='selectedCover' 
                (selectionChange)="selectTmplt($event)">
      <mat-option *ngFor="let tmplt of covers" [value]='tmplt.templateId'>
        {{ tmplt.templateName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox class="casefield" (change)='updateEditControl($event)'>Edit Template</mat-checkbox>
  <div *ngIf='viewControl.view'>
    <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="editcontent" height='240px'></app-ngx-editor>
    <br/>
  </div>
  <ng-container *ngIf='viewControl.edit'>
    <label *ngIf="errorMessage">
      <font color='red'>{{errorMessage}}</font>
    </label>

    <mat-form-field class='inputfield' *ngFor="let inp of myInputs">
      <input matInput [placeholder]='inp.name' disabled [(ngModel)]="inp.value">
    </mat-form-field>
    <span></span>
  </ng-container>
  <div class="controls" *ngIf='viewControl.edit'>

    <mat-checkbox class="casefield" (change)='updateSaveAsControl($event)' [(ngModel)]="cnew">Create New?</mat-checkbox>

    <span *ngIf='viewControl.createNew'>
      <mat-form-field>
        <input matInput placeholder='New Template Name' [(ngModel)]="newTemplateType">
      </mat-form-field>
    </span>
    &nbsp;
    <span>
      <button mat-raised-button color="accent" class="text-upper" [disabled]=" (noedit) && (!(cnew))" (click)='saveTemplate()'>save</button>
    </span>
    &nbsp;
    <span>
      <button mat-raised-button color="accent" class="text-upper" [disabled]="(noedit)" (click)='deleteCoverTmplt()'>Delete</button>
    </span>
  </div>
</div>