<table class="identitytable">
  <tr>
    <th>
      <h6>Organization's Client ID Verification Question Setup</h6>
    </th>
  </tr>
  <br>
  <tr>
      <div class="check-element animate-show-hide" *ngIf='activeInd =="N"'>
          <mat-icon class='remindericon' 
       mdbRippleRadius>notifications</mat-icon>
       ID Verification Question is not defined for the organization, Please click on "Set ID Verification Question".
      </div>
  </tr>
  <tr>
    <mat-form-field class="identityfield" *ngIf='activeInd =="Y"'>
      <input matInput placeholder="Question" [(ngModel)]="identityQuestion">
    </mat-form-field>
    <span>
      <button mat-raised-button color="accent" *ngIf='activeInd =="Y"' class="text-upper" (click)="makeIdentityQuestionInactive()">
        MAKE INACTIVE
      </button>
     </span>
  </tr>
  <br>
  <br>
  <tr>
    <span>
      <button mat-raised-button color="accent" *ngIf='activeInd =="N"' class="text-upper" (click)="addIdentityQuestion()">
        SET ID VERIFICATION QUESTION
      </button>
      <button mat-raised-button color="accent" *ngIf='activeInd =="Y"' class="text-upper" (click)="addIdentityQuestion()">
        CHANGE ID VERIFICATION QUESTION
      </button>
      <button mat-raised-button color="accent" *ngIf='activeInd =="Y"' class="text-upper" (click)="setClientAnswer()">
        SETUP CLIENT IDENTIY
      </button>
      <button mat-raised-button color="accent" class="text-upper" (click)="createNewQuestion()">
        CREATE NEW QUESTION
      </button>
    </span>
  </tr>
</table>