<span>
  <label class="heading-label">{{ title }}</label>
  <button mat-icon-button color="warn" style="margin-left:90%" (click)="cancelPopup()">
    <mat-icon style="font-size: 40px;">clear</mat-icon>
  </button>
</span>
<div fxLayout="column">
  <div class="invgridColumn">
    <form [formGroup]="guestSignerForm">
      <mat-form-field class="appfield" appearance="outline">
        <mat-chip-list #guestchips>
          <mat-chip *ngIf="guestSigner" [selectable]="selectable" [removable]="removable" (removed)="removeGuest('guest')">
            {{guestSigner.emailId}}             
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input type="text" class="search" placeholder="Guest email address" 
          [matChipInputFor]="guestchips"
            matInput [matAutocomplete]="autoguest" formControlName="receiverEmailIdControl" #focusField [(ngModel)]="emailIdInput">
          <mat-autocomplete #autoguest="matAutocomplete">
            <mat-option *ngFor="let cc of guestSigners" [value]="cc.clientId" (onSelectionChange)="addGuestSigner($event)">
              {{ cc.emailId }}
            </mat-option>
          </mat-autocomplete>
        </mat-chip-list>
      </mat-form-field>
      <br/>
        <mat-form-field class="appfield" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="firstName" formControlName="receiverFirstNameControl">
            <mat-error *ngIf="guestSignerForm.get('receiverFirstNameControl').hasError('required')">
              First name is required
            </mat-error>
          </mat-form-field> 
        <br/>
      <mat-form-field class="appfield" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="lastName" formControlName="receiverLastNameControl">
        <mat-error *ngIf="guestSignerForm.get('receiverLastNameControl').hasError('required')">
          Last name is required
        </mat-error>
      </mat-form-field>
      <br/>
     
      <mat-checkbox class="appfield" checked='true' (change)='saveAsContact($event)'>Save as contact</mat-checkbox>
      <br/>
      <br/>
      <table>
          <tr>
            <td>
              <mat-checkbox class="appfield" (change)='checkSignature($event)' checked="isSignHereChecked">
                Signature</mat-checkbox>
            </td>
            <td>
              <mat-form-field class="appfield" appearance="outline">
                <mat-label>Sign here</mat-label>
                <input matInput [(ngModel)]="signHereFieldDesc" formControlName="signHereFieldDescControl">
              </mat-form-field>
            </td>
          </tr>
  
          <tr>
            <td>
              <mat-checkbox class="appfield" (change)='checkDate($event)' checked="isDateChecked">
                Date</mat-checkbox>
            </td>
            <td>
              <mat-form-field class="appfield" appearance="outline">
                <mat-label>Select date</mat-label>
                <input matInput [(ngModel)]="dateFieldDesc" formControlName="dateFieldDescControl">
              </mat-form-field>
            </td>
          </tr>
  
          <tr>
            <td>
              <mat-checkbox class="appfield"  (change)='checkInitial($event)' checked="isInitialChecked">
                Initial</mat-checkbox>
            </td>
            <td>
              <mat-form-field class="appfield" appearance="outline">
                <mat-label>Initial here</mat-label>
                <input  matInput [(ngModel)]="intialFieldDesc" formControlName="initialFieldDescControl">
              </mat-form-field>
            </td>
          </tr>
  
          <tr>
            <td>
              <mat-checkbox class="appfield" (change)='checkText($event)'>
                Text</mat-checkbox>
            </td>
            <td>
              <mat-form-field class="appfield" appearance="outline">
                <mat-label>e.g. Title here</mat-label>
                <input  matInput [(ngModel)]="titleFieldDesc" formControlName="titleFieldDescControl">
              </mat-form-field>
            </td>
          </tr>
        </table>

    </form>
    <div>
      <br/>
    </div>
    <div class="button-row">
      <div fxLayout="row">
        <button mat-raised-button class="text-upper" (click)="cancelPopup()">
          Cancel
        </button>
        &nbsp; &nbsp;

        <span *ngIf='!showAddFieldSpinner'>
          <button 
          mat-raised-button color="accent" class="text-upper" (click)="addGuestFieldData()">
            SAVE
            <mat-icon>play_circle_outline</mat-icon>
          </button>
        </span>
        <mat-spinner *ngIf='showAddFieldSpinner' diameter='20'></mat-spinner>
        <span *ngIf='showAddFieldSpinner'>Processing...</span>
      </div>
    </div>
  </div>
</div>