<table class="container">
  <tr>
    <mat-radio-group [(ngModel)]="sendToClientOption">
      <mat-radio-button value=0>Send through EverLeagues Portal &nbsp;&nbsp;</mat-radio-button>
      <mat-radio-button value=1>Send by Email&nbsp;&nbsp;</mat-radio-button>
      <mat-radio-button value=2>Reject To Preparer&nbsp;&nbsp;</mat-radio-button>
    </mat-radio-group>
  </tr>
  <br>
  <tr>
    <span>
      <span *ngIf='!showSendToClientspinner'>
        <button mat-raised-button color="accent" class="text-upper" [disabled]='(mycase.status !== "Review" || sendToClientOption === "2")'
          (click)="sendToClient()">Approve and Send to Client</button>
      </span>
      <mat-spinner *ngIf='showSendToClientspinner' diameter='40'></mat-spinner>
      <span *ngIf='showSendToClientspinner'>Processing...</span>
      
      &nbsp;&nbsp;
      <button mat-raised-button color="accent" class="text-upper" [disabled]='(mycase.status !== "Review" || sendToClientOption !== "2")'
        (click)="showRejectReasonPopup()">Reject to Preparer</button>
    </span>
  </tr>
  <br>
  <tr>
    <span>
      <mat-icon class='remindericon' mdbRippleRadius>scheduleicon</mat-icon>
      <font color="green">Esign reminder for client</font>&nbsp;
      <button mat-raised-button color="accent" class="text-upper" [disabled]='(mycase.status != "ESign" && mycase.status != "Emailed") || mycase.clientReminderFlag == "Y"'
        (click)="createClientReminder(mycase.caseId)">Create</button>
    </span>
  </tr>
</table>